<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="" style="background-color: #2980b9">
        <b-navbar-brand href="gamecenter/home/index">
          <img src="../../../public/image/logo.png" width="200px">
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>


          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="Lang" right >
              <template  v-slot:button-content>
                <span v-if="$i18n.locale == 'en'">
                  <img src="../../../public/image/gb.png" width="30px" style="margin-right: 10px">EN
                </span>
                <span v-if="$i18n.locale == 'zh'">
                  <img src="../../../public/image/cn.png" width="30px" style="margin-right: 10px">ZH
                </span>
              </template>
              <b-dropdown-item href="#" @click="changeLanguage('en')" style="width: 100%;" class="enName"><img src="../../../public/image/gb.png" width="30px" style="margin-right: 20px">EN</b-dropdown-item>
              <b-dropdown-item href="#" @click="changeLanguage('zh')" style="width: 100%;"><img src="../../../public/image/cn.png" width="30px" style="margin-right: 20px">ZH</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right >
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>{{username?username:'新用户'}}</em>
              </template>
              <b-dropdown-item href="#" @click="logout">{{message.out}}</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view v-if="isRouterAlive"/>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import { recordRoute } from '@/config'

  export default {
    name: 'App',
    data() {
      return {
        message: {
          username: '邮箱',
          password:'密码',
          password1:'确认密码',
          code: '验证码',
          out: this.$t('message.out')
        },
        isRouterAlive: true                    //控制视图是否显示的变量
      }
    },
    computed: {
      ...mapGetters({
        avatar: 'user/avatar',
        username: 'user/username',
      }),
    },
    mounted() {
      // this.$store.commit('user/SET_LANG', {
      //   lang: this.$i18n.locale
      // })
    },
    methods: {
      logout() {
        this.$baseConfirm(
          '您确定要退出' + this.$baseTitle + '吗?',
          null,
          async () => {
            await this.$store.dispatch('user/logout')
            if (recordRoute) {
              const fullPath = this.$route.fullPath
              this.$router.push(`/login?redirect=${fullPath}`)
            } else {
              this.$router.push('/login')
            }
          }
        )
      },
      // async logout() {
      //   await this.$store.dispatch('user/logout')
      //   this.$router.push(`/login`)
      // },
      scrollIntoView(evt) {
        evt.preventDefault()
        const href = evt.target.getAttribute('href')
        const el = href ? document.querySelector(href) : null
        if (el) {
          this.$refs.content.scrollTop = el.offsetTop
        }
      },
      onsubmit() {
        console.log('1111')
      },
      changeLanguage(name){
        console.log('aaa',name)
        if (name === 'en') {
          this.$i18n.locale='en'

        } else {
          this.$i18n.locale='zh'
        }
        // this.reload()
        localStorage.setItem('languageSet',this.$i18n.locale)   //将用户设置存储到localStorage以便用户下次打开时使用此设置
        this.$router.go(0) // 相当于F5，体验不好 有一瞬间空白
      },
      reload () { //理想的刷新方式
        this.isRouterAlive = false;            //先关闭，
        this.$nextTick(function () {
          this.isRouterAlive = true;         //再打开
        })
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  b-navbar {
    background-color: #2980b9;
  }
</style>
