<template>
  <div id="app" style="background-color: #F0F4FA;">
    <div >
      <div>
        <b-navbar toggleable="lg" type="dark" variant="" style="background-color: #2980b9">
          <b-navbar-brand href="gamecenter/home/index">
            <img src="../../../public/image/logo.png" width="200px">
          </b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>


            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="Lang" right >
                <template  v-slot:button-content>
                <span v-if="$i18n.locale == 'en'">
                  <img src="../../../public/image/gb.png" width="30px" style="margin-right: 10px">EN
                </span>
                  <span v-if="$i18n.locale == 'zh'">
                  <img src="../../../public/image/cn.png" width="30px" style="margin-right: 10px">ZH
                </span>
                </template>
                <b-dropdown-item href="#" @click="changeLanguage('en')" style="width: 100%;" class="enName"><img src="../../../public/image/gb.png" width="30px" style="margin-right: 20px">EN</b-dropdown-item>
                <b-dropdown-item href="#" @click="changeLanguage('zh')" style="width: 100%;"><img src="../../../public/image/cn.png" width="30px" style="margin-right: 20px">ZH</b-dropdown-item>
              </b-nav-item-dropdown>

<!--              <b-nav-item-dropdown right v-if="username">-->
<!--                &lt;!&ndash; Using 'button-content' slot &ndash;&gt;-->
<!--                <template v-slot:button-content>-->
<!--                  <em>{{username}}</em>-->
<!--                </template>-->
<!--                <b-dropdown-item href="#" @click="logout">{{message.out}}</b-dropdown-item>-->
<!--              </b-nav-item-dropdown>-->
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </div>

    <div>
      <b-container fluid class="bv-example-row" style="margin-top: 150px">
        <b-row align-h="center" align-v="center">
          <b-card
            :title=getTitle()
            tag="article"
            style="width: 30rem;"
            class="mb-2 shadow-lg font-weight-bold y-text-warning "
          >
            <b-card-body v-if="is_show === 'login'">
              <b-form>
                <b-form-group class="text-body" :label="login_title.username" style="text-align: start;">
<!--                  v-validate.continues="{requireds: true, email: true}"-->
                  <b-form-input
                    name="账号"
                    :data-vv-as=message.username
                    v-model="user.username"
                    v-validate="'required'"
                    :state="validateState('账号')"
                    :placeholder="login_title.username_hint"
                  ></b-form-input>
                  <b-form-invalid-feedback id="账号">{{veeErrors.first('账号')}}</b-form-invalid-feedback>
                </b-form-group>
                <b-form inline class="d-flex justify-content-between" style="margin-left: 12px">
                  <label class="mr-sm-2 text-body">{{login_title.password}}</label>
<!--                  <b-link variant="link" class="text-right px-0 text-decoration-none y-text-warning font-weight-bold" @click="is_show='find'">{{login_title.password_hint_is}}</b-link>-->
                </b-form>
                <b-form-group class="y-pt-7" style="text-align: start">
                  <b-input
                    name="密码"
                    :data-vv-as=message.password
                    v-validate="'required'"
                    :state="validateState('密码')"
                    type="password"
                    aria-describedby="password-help-block"
                    v-model="user.password"
                    :placeholder="login_title.password_hint"></b-input>
                  <b-form-invalid-feedback id="密码">{{veeErrors.first('密码')}}</b-form-invalid-feedback>
                </b-form-group>
                <b-form inline class="d-flex justify-content-between" style="margin: 0 12px">
                  <label class="mr-sm-2 text-body">{{login_title.code}}</label>
                  <div class="get-code text-light" @click="refreshCode()">
                    <Sidentify :identifyCode="identifyCode"></Sidentify>
                  </div>
                </b-form>
                <b-form-group class="text-body" style="text-align: start">
                  <b-input
                    name="code"
                    v-validate="'required'"
                    :state="validateState('code')"
                    v-model="code"
                    :placeholder=login_title.code_hint
                  ></b-input>
                  <b-form-invalid-feedback id="code">{{veeErrors.first('code')}}</b-form-invalid-feedback>
                </b-form-group>
                <div>
                  <b-button  class="px-5 text-light mt-2 btn-violet" variant="warning" @click="onLogin">{{login_title.login}}</b-button>
                </div>
<!--                <div class="border-top my-3 "></div>-->
<!--                <div class="mt-2">-->
<!--&lt;!&ndash;                  <span class="text-body">{{login_title.register}}</span>&ndash;&gt;-->
<!--                  <b-link class="px-0 y-text-warning" variant="" @click="onRegister">{{login_title.register1}}</b-link>-->
<!--                </div>-->
              </b-form>
            </b-card-body>

            <b-card-body v-if="is_show === 'find'">
              <b-form-text style="text-align: start">{{forgot_password.title_hint}}</b-form-text>
              <b-form-group class="y-pt-7" style="text-align: start">
                <b-input
                  name="findUsername"
                  :data-vv-as=message.username
                  :state="validateState('findUsername')"
                  v-model="find.username"
                  :placeholder="forgot_password.username_hint"
                ></b-input>
                <b-form-invalid-feedback id="findUsername">{{veeErrors.first('findUsername')}}</b-form-invalid-feedback>
              </b-form-group>
              <b-button class="px-5 text-light btn-violet" variant="warning" @click="onForgot">{{forgot_password.login}}</b-button>
              <div class="border-top my-3 "></div>
              <div class="mt-2">
                <span class="text-body">{{forgot_password.account}}</span>
                <b-link class="px-0 y-text-warning" variant="link" @click="onLoginGo">{{forgot_password.account1}}</b-link>
              </div>
            </b-card-body>

            <b-card-body v-if="is_show === 'check_your_mail'">
              <b-form-group class="text-body" :label="check_your_mail.title" style="text-align: start">
              </b-form-group>
              <b-form-text style="text-align: start">{{check_your_mail.title_hint}}</b-form-text>
              <h3 class="p-5">{{find.username}}</h3>
              <!--            <b-form-text style="text-align: start">{{check_your_mail.subtitle_hint}}</b-form-text>-->
              <div class="mt-2">
                <b-form-group class="text-body" :label=check_your_mail.cold style="text-align: start">
                  <b-form inline>
                    <b-form-input
                      name="registerCode"
                      :data-vv-as=message.code
                      v-validate="'required'"
                      v-model="register.code"
                      :state="validateState('registerCode')"
                      required
                      :placeholder=check_your_mail.cold_hint
                      class="w-50"
                    ></b-form-input>
                    <div class="w-50 pl-1">
                      <b-button v-if="isgetCode" class=" w-100 btn-violet" variant="warning"  @click="onForgot1">{{check_your_mail.subCold}}</b-button>
                      <b-button v-if="!isgetCode && !isActive" class=" w-100 btn-violet" variant="warning" disabled>{{count+'s'}}</b-button>
                      <b-button v-if="!isgetCode && isActive" class=" w-100 btn-violet" variant="warning"  @click="onForgot1">{{check_your_mail.subCold}}</b-button>
                    </div>
                    <b-form-invalid-feedback id="registerCode">{{veeErrors.first('registerCode')}}</b-form-invalid-feedback>
                  </b-form>
                </b-form-group>
                <b-form-group class="text-body" :label=check_your_mail.title1 style="text-align: start">
                  <b-form-input
                    name="password"
                    v-validate.continues="{required: true, y_password: true}"
                    :class="{'is-danger': veeErrors.has('password')}"
                    placeholder="Password"
                    :data-vv-as=message.password
                    ref="password"
                    :state="validateState('password')"
                    type="password"
                    v-model="register.password"
                    :placeholder="check_your_mail.password_hint"
                  ></b-form-input>
                  <b-form-invalid-feedback v-show="veeErrors.has('password')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password') }}</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group class="text-body" :label=check_your_mail.title2 style="text-align: start">
                  <b-form-input
                    v-validate="'required|confirmed:password'"
                    name="password_confirmation"
                    :class="{'is-danger': veeErrors.has('password_confirmation')}"
                    placeholder="Password, Again"
                    :data-vv-as=message.password1
                    :state="validateState('password_confirmation')"
                    type="password"
                    v-model="register.password_is"
                    :placeholder="check_your_mail.new_password_hint"
                  ></b-form-input>
                  <b-form-invalid-feedback v-show="veeErrors.has('password_confirmation')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password_confirmation') }}</b-form-invalid-feedback>
                </b-form-group>
                <b-button class="px-5 text-light btn-violet" variant="warning" @click="onReset">{{check_your_mail.button}}</b-button>
              </div>
              <!--            <div class="p-2">-->
              <!--              <b-form-text >{{check_your_mail.footer}}</b-form-text>-->
              <!--              <b-form-text class="y-text-warning">{{check_your_mail.footer_emal}}</b-form-text>-->
              <!--            </div>-->
            </b-card-body>
          </b-card>
        </b-row>
      </b-container>
    </div>
  </div>

</template>

<script>
  import { recordRoute } from '@/config'
  import { send_email, modify_password } from '../../api/games/user_dashboad'
  import Sidentify from '../comopnent/sldentify'
  import {mapGetters} from "vuex";
  const TIME_COUNT = 60

  export default {
    components: { Sidentify },
  data() {
    return {
      isLanguage: '',
      isRouterAlive: true ,                   //控制视图是否显示的变量
      code: '',
      identifyCode: "",
      identifyCodes: "123456789abcdwerwshdjeJKDHRJHKPLMKQ",//随便打的
      isgetCode:true,
      isActive: false,
      count: 0,
      timer: null,
      is_show: 'login',
      otherQuery: {},
      user: {
        username: '',
        password: ''
      },
      find: {
        username: ''
      },
      redirect: undefined,
      message: {
        username: this.$t('message.username'),
        password: this.$t('message.password'),
        password1: this.$t('message.password1'),
        code: this.$t('message.code'),
        hint_win: this.$t('message.hint_win'),
        out: this.$t('message.out')
      },

      login_title: {
        username: this.$t('user.username'),
        username_hint: this.$t('user.username_hint'),
        password: this.$t('user.password'),
        password_hint: this.$t('user.password_hint'),
        password_hint_is: this.$t('user.password_hint_is'),
        login: this.$t('user.login'),
        register: this.$t('user.register'),
        register1: this.$t('user.register1'),
        title: this.$t('user.title'),
        code: this.$t('user.code'),
        code_hint: this.$t('user.code_hint'),
        code_err: this.$t('user.code_err'),

      },
      forgot_password: {
        title: this.$t('forgot_password.title'),
        title_hint: this.$t('forgot_password.title_hint'),
        username_hint: this.$t('forgot_password.username_hint'),
        login:this.$t('forgot_password.login'),
        account: this.$t('user_register.account'),
        account1: this.$t('user_register.account1'),
      },
      check_your_mail: {
        title: this.$t('check_your_mail.title'),
        title_hint: this.$t('check_your_mail.title_hint'),
        subtitle_hint: this.$t('check_your_mail.subtitle_hint'),
        buttle: this.$t('check_your_mail.buttle'),
        footer: this.$t('check_your_mail.footer'),
        footer_emal: this.$t('check_your_mail.footer_emal'),
        cold: this.$t('check_your_mail.cold'),
        cold_hint: this.$t('check_your_mail.cold_hint'),
        subCold: this.$t('check_your_mail.subCold'),
        title1: this.$t('check_your_mail.title1'),
        title2: this.$t('check_your_mail.title2'),
        password_hint: this.$t('check_your_mail.password_hint'),
        new_password_hint: this.$t('check_your_mail.new_password_hint'),
        button: this.$t('check_your_mail.button')
      },
      register: {
        username: '',
        password: '',
        password_is: '',
        code: ''
      },
      user_register_title: {
        username: this.$t('user_register.username'),
        username_hint: this.$t('user_register.username_hint'),
        password_hint: this.$t('user_register.password_hint'),
        password_hint_is: this.$t('user_register.password_hint_is'),
        login: this.$t('user_register.login'),
      }
    }
  },
  computed: {
    ...mapGetters({
      avatar: 'user/avatar',
      username: 'user/username',
    }),
  },
  mounted() {
    this.makeCode(this.identifyCodes,4);
  },
  methods: {
    logout() {
      this.$baseConfirm(
        '您确定要退出' + this.$baseTitle + '吗?',
        null,
        async () => {
          await this.$store.dispatch('user/logout')
          if (recordRoute) {
            const fullPath = this.$route.fullPath
            this.$router.push(`/login?redirect=${fullPath}`)
          } else {
            this.$router.push('/login')
          }
        }
      )
    },
    // async logout() {
    //   await this.$store.dispatch('user/logout')
    //   this.$router.push(`/login`)
    // },
    scrollIntoView(evt) {
      evt.preventDefault()
      const href = evt.target.getAttribute('href')
      const el = href ? document.querySelector(href) : null
      if (el) {
        this.$refs.content.scrollTop = el.offsetTop
      }
    },
    onsubmit() {
      console.log('1111')
    },
    changeLanguage(){
      this.$validator.reset()
      if (this.$i18n.locale == 'en') {
        this.isLanguage = 1
      }else {
        this.isLanguage = 0
      }
      this.isLanguage = !this.isLanguage
      this.$store.commit('language/setLanguage',this.isLanguage)
      if (this.isLanguage) {
        this.$i18n.locale='en'
      } else {
        this.$i18n.locale='zh'
      }
      this.reload()
      localStorage.setItem('languageSet',this.$i18n.locale)   //将用户设置存储到localStorage以便用户下次打开时使用此设置
      this.$router.go(0) // 相当于F5，体验不好 有一瞬间空白
    },
    reload () { //理想的刷新方式
      this.isRouterAlive = false;            //先关闭，
      this.$nextTick(function () {
        this.isRouterAlive = true;         //再打开
      })
    },

    getTitle() {
      var title = ''
      switch (this.is_show) {
        case "login":
          title = this.login_title.title
              break
        case 'find':
          title = this.forgot_password.title
              break
      }
      return title
    },
    refreshCode() {//
      this.identifyCode = "";
      this.makeCode(this.identifyCodes,4);
    },
    randomNum (min, max) {
      max = max + 1
      return Math.floor(Math.random() * (max - min) + min)
    },
    // 随机生成验证码字符串
    makeCode (data, len) {
      for (let i = 0; i < len; i++) {
        this.identifyCode += data[this.randomNum(0, data.length - 1)]
      }
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    onLoginGo() {
      this.is_show = 'login'
    },
    onReset() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        const params = {}
        params['email'] = this.find.username
        params['code'] = this.register.code
        params['password'] = this.register.password
        params['confirm_password'] = this.register.password_is
        modify_password(params).then(res => {
          this.$bvToast.toast(this.message.hint_win, {
            noCloseButton: true,
            variant: 'success',
            toaster: 'b-toaster-top-center',
            solid: true
          })
          this.is_show = 'login'
        })
      })
    },
    onForgot1() {
      const params = {}
      params['email'] = this.find.username
      send_email(params).then(res => {
        this.$bvToast.toast(this.message.hint_win, {
          noCloseButton: true,
          variant: 'success',
          toaster: 'b-toaster-top-center',
          solid: true
        })
        this.isgetCode=false;
        this.is_show = 'check_your_mail'
        if (!this.timer) {
          this.count = TIME_COUNT;
          this.isActive = false;
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--;
            } else {
              this.isActive = true;
              clearInterval(this.timer);
              this.timer = null;
            }
          }, 1000);
        }
      })
    },
    onForgot() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        const params = {}
        params['email'] = this.find.username
        send_email(params).then(res => {
          this.$bvToast.toast(this.message.hint_win, {
            noCloseButton: true,
            variant: 'success',
            toaster: 'b-toaster-top-center',
            solid: true
          })
          this.isgetCode=false;
          this.is_show = 'check_your_mail'
          if (!this.timer) {
            this.count = TIME_COUNT;
            this.isActive = false;
            this.timer = setInterval(() => {
              if (this.count > 0 && this.count <= TIME_COUNT) {
                this.count--;
              } else {
                this.isActive = true;
                clearInterval(this.timer);
                this.timer = null;
              }
            }, 1000);
          }
        })
      })
    },
    onRegister() {
      this.$router.push('/register')
    },
    onLogin() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        if (this.identifyCode.toLowerCase() == this.code.toLowerCase()) { //不区分大小写
          this.$store.dispatch('user/login', this.user).then( () => {
            this.$router.push({path: '/'})
          })
        }else {
          this.$bvToast.toast(this.login_title.code_err, {
            noCloseButton: true,
            variant: 'warning',
            toaster: 'b-toaster-top-center',
            solid: true
          })
        }
      })
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #F0F4FA;
  }
  b-navbar {
    background-color: #32329f;
  }
</style>

<style scoped>
  /*@import url(~bootstrap/dist/css/bootstrap.css);*/
  /*@import url(~bootstrap-vue/dist/bootstrap-vue.css);*/
  /*@import url(../../utils/index.css);*/
  .y-pt-7 {
    padding-top: 7px !important;
  }
  .main-text {
    color: #303030 !important;
  }
  .y-text-warning {
    color: #2980b9 !important;
  }
  .y-bg {
    color: #2980b9 !important;
  }
</style>
