<template>
  <div>
    你好{{nav.token}}
  </div>
</template>

<script>
  export default {
    name: 'More',
    components: {},
    data() {
      return {
        nav: {
          token: this.$t('nav.token'),
          scopes: this.$t('nav.scopes'),
          usage: this.$t('nav.usage'),
          changelog: this.$t('nav.changelog'),
          center: this.$t('nav.center'),
          authentication:  this.$t('nav.authentication'),
          mailbox_setting: this.$t('nav.mailbox_setting'),
          password_setting: this.$t('nav.password_setting')
        },
      }
    },
    watch: {
      '$i18n.locale': {

      }
    },
    created() {},
    mounted() {},
    methods: {},
  }
</script>
<style lang="scss" scoped>
  .more-container {
    ::v-deep {
      .el-card__body {
        > div {
          min-height: 220px;
          padding: 20px;

          > ul {
            > li {
              line-height: 30px;
            }
          }

          > img {
            display: block;
            margin: 40px auto;
            border: 1px solid #dedede;
          }
        }
      }
    }
  }
</style>
