<template>
  <div class="m-4">
    <b-container>
      <b-nav>
        <b-nav-item to="/" >{{nav.token}}</b-nav-item>
<!--        <b-nav-item to="/gamecenter/scopes_list/" >{{nav.scopes}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_usage_list/">{{nav.usage}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>-->
        <b-nav-item >{{nav.usage}}</b-nav-item>
        <b-nav-item >{{nav.changelog}}</b-nav-item>
        <b-nav-item-dropdown
          toggle-class="y-text-warning"
          id="my-nav-dropdown"
          :text="nav.center"
          right
        >
          <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>
<!--          <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>-->
          <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-nav>

      <div class="y-mt-6 text-left">
<!--        验证当前邮箱-->
        <div v-show="show === 'old_email' || show === 'old_code'">
          <table class="font-weight-bold">{{change_email_title.username }}</table>
          <b-row>
            <b-col>
              <b-form-group class="text-body my-3" :label="change_email_title.title_hint" style="text-align: start">
                <b-form inline>
                  <b-form-input
                    name="password"
                    v-validate="'required'"
                    :data-vv-as=message.password
                    :state= "validateState('password')"
                    type="password"
                    v-model="password"
                    required
                    :placeholder="change_email_title.password_hint"
                    class="w-50"
                  ></b-form-input>
                  <div class="w-50 pl-1 my-3">
                    <b-button v-if="isgetCode" variant="warning" class=" w-100 btn-violet" @click="getCode">{{change_email_title.button}}</b-button>
                    <b-button v-if="!isgetCode && !isActive" class=" w-100 btn-violet" variant="warning" disabled>{{count+'s'}}</b-button>
                    <b-button v-if="!isgetCode && isActive" class=" w-100 btn-violet" variant="warning"  @click="getCode">{{change_email_title.button}}</b-button>
                  </div>
                  <b-form-invalid-feedback id="password">{{veeErrors.first('password')}}</b-form-invalid-feedback>
                </b-form>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
        </div>
<!--        查收验证码 提交验证-->
        <div v-show="show === 'old_code'">
          <table class="font-weight-bold my-3">{{change_email_title.subtitle}}</table>
          <b-row>
            <b-col>
              <b-form-text>{{change_email_title.subtitle_hint}}</b-form-text>
              <h3 class="text-center px-0 text-decoration-none y-text-warning">{{this.$store.state.user.email}}</h3>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group class="text-body font-weight-bold my-3" :label=change_email_title.cold style="text-align: start">
                <b-form inline>
                  <b-form-input
                    name="oldCode"
                    v-validate="'required'"
                    :data-vv-as=message.code
                    :state="validateState('oldCode')"
                    v-model="old_code"
                    required
                    :placeholder=change_email_title.code_hint
                    class="w-100"
                  ></b-form-input>
                  <b-form-invalid-feedback id="oldCode">{{veeErrors.first('oldCode')}}</b-form-invalid-feedback>
                </b-form>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-button variant="success" class="my-3 px-5 btn-violet" @click="onOldCode">{{change_email_title.but_next}}</b-button>
        </div>
<!--        获取新邮箱验证码-->
        <div v-show="show === 'new_email' || show === 'new_code'">
          <b-row>
            <b-col>
              <b-form-group class="text-body font-weight-bold my-3" :label="change_email_title.newEmail" style="text-align: start">
                <b-form inline>
                  <b-form-input
                    name="newEmail"
                    v-validate.continues="{required: true, email: true}"
                    :data-vv-as=message.username
                    :state="validateState('newEmail')"
                    v-model="newEmail"
                    required
                    :placeholder="change_email_title.newEmail_hint"
                    class="w-50"
                  ></b-form-input>
                  <div class="w-50 pl-1 my-3">
                    <b-button v-if="isgetCode" variant="warning" class=" w-100 btn-violet" @click="onNewCode">{{change_email_title.button}}</b-button>
                    <b-button v-if="!isgetCode && !isActive" class=" w-100 btn-violet" variant="warning" disabled>{{count+'s'}}</b-button>
                    <b-button v-if="!isgetCode && isActive" class=" w-100 btn-violet" variant="warning"  @click="onNewCode">重新获取</b-button>
                  </div>
                  <b-form-invalid-feedback id="newEmail">{{veeErrors.first('newEmail')}}</b-form-invalid-feedback>
                </b-form>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
        </div>
<!--        提交确认更换邮箱-->
        <div v-show="show === 'new_code'">
          <table class="font-weight-bold my-3">{{change_email_title.subtitle}}</table>
          <b-row>
            <b-col>
              <b-form-text>{{change_email_title.subtitle_hint}}</b-form-text>
              <h3 class="text-center px-0 text-decoration-none y-text-warning">{{newEmail}}</h3>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group class="text-body font-weight-bold my-3" :label=change_email_title.cold style="text-align: start">
                <b-form inline>
                  <b-form-input
                    name="newCode"
                    v-validate="'required'"
                    :data-vv-as=message.username
                    :state="validateState('newCode')"
                    v-model="new_code"
                    required
                    :placeholder=change_email_title.code_hint
                    class="w-100"
                  ></b-form-input>
                  <b-form-invalid-feedback id="newCode">{{veeErrors.first('newCode')}}</b-form-invalid-feedback>
                </b-form>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-button variant="success" class="my-3 px-5 btn-violet" @click="onSave">{{change_email_title.but_update}}</b-button>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
  import { reset_send_email, reset_email_code, reset_email_send, new_email_save } from '../../api/games/user_dashboad'
  const TIME_COUNT = 60

  export default {
        name: "change_email_list",
      data() {
          return {
            show: 'old_email',
            new_code: '',
            newEmail: '',
            old_code: '',
            isgetCode:true,
            isActive: false,
            count: 0,
            timer: null,
            password: '',
            message: {
              username: this.$t('message.username'),
              password: this.$t('message.password'),
              code: this.$t('message.code'),
              hint_win: this.$t('message.hint_win'),

            },
            nav: {
              token: this.$t('nav.token'),
              scopes: this.$t('nav.scopes'),
              usage: this.$t('nav.usage'),
              changelog: this.$t('nav.changelog'),
              center: this.$t('nav.center'),
              authentication:  this.$t('nav.authentication'),
              mailbox_setting: this.$t('nav.mailbox_setting'),
              password_setting: this.$t('nav.password_setting')
            },
            // 重置邮箱
            change_email_title: {
              title_hint: this.$t('change_email_title.title_hint'),
              username: this.$t('change_email_title.username'),
              password_hint: this.$t('change_email_title.password_hint'),
              subtitle: this.$t('change_email_title.subtitle'),
              subtitle_hint: this.$t('change_email_title.subtitle_hint'),
              cold: this.$t('change_email_title.cold'),
              code_hint: this.$t('change_email_title.code_hint'),
              newEmail: this.$t('change_email_title.newEmail'),
              newEmail_hint: this.$t('change_email_title.newEmail_hint'),
              footer: this.$t('change_email_title.footer'),
              button: this.$t('change_email_title.button'),
              button1: this.$t('change_email_title.button1'),
              but_next: this.$t('change_email_title.but_next'),
              but_update: this.$t('change_email_title.but_update')

            }
          }
      },
      methods: {
        validateState(ref) {
          if (
            this.veeFields[ref] &&
            (this.veeFields[ref].dirty || this.veeFields[ref].validated)
          ) {
            return !this.veeErrors.has(ref);
          }
          return null;
        },
        onSave() {
          this.$validator.validate('newCode').then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['email'] = this.newEmail
            params['code'] = this.new_code
            new_email_save(params).then(res => {
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.logout()
            })
          })
        },
        async logout() {
          await this.$store.dispatch('user/logout')
          this.$router.push(`/login`)
        },
        // 重置邮箱-新邮箱-发送验证码
        onNewCode() {
          this.$validator.validate('newEmail').then(result => {
            console.log('result',result)
            if (!result) {
              return;
            }
            const params = {}
            params['email'] = this.newEmail
            reset_email_send(params).then(res => {
              this.isgetCode=false;
              if (!this.timer) {
                this.count = TIME_COUNT;
                this.isActive = false;
                this.timer = setInterval(() => {
                  if (this.count > 0 && this.count <= TIME_COUNT) {
                    this.count--;
                  } else {
                    this.isActive = true;
                    clearInterval(this.timer);
                    this.timer = null;
                  }
                }, 1000);
              }
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.show = 'new_code'
            })
          })
        },
        // 重置邮箱-验证原邮箱验证码
        onOldCode() {
          this.$validator.validate('oldCode').then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['code'] = this.old_code
            reset_email_code(params).then(res => {
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.show = 'new_email'
              this.isActive = false
              this.isgetCode = true,
                this.count = 0,
                this.timer = null
            })
          })
        },
        // 重置邮箱-验证密码-发送邮件
        getCode(ruleForm) {
          this.$validator.validate('password').then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['password'] = this.password
            reset_send_email(params).then(res => {
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.isgetCode=false;
              if (!this.timer) {
                this.count = TIME_COUNT;
                this.isActive = false;
                this.timer = setInterval(() => {
                  if (this.count > 0 && this.count <= TIME_COUNT) {
                    this.count--;
                  } else {
                    this.isActive = true;
                    clearInterval(this.timer);
                    this.timer = null;
                  }
                }, 1000);
              }
              this.show = 'old_code'
            })
          })
        },
      }
    }
</script>

<style scoped>
  @import url(~bootstrap/dist/css/bootstrap.css);
  @import url(~bootstrap-vue/dist/bootstrap-vue.css);
  .y-text-warning {
    color: #F59A23 !important;
  }
  .y-mt-6 {
    /*margin-top: 3rem !important;*/
    padding: 1rem;

  }
</style>
