<template>
  <div>
    <el-form label-width="100px">
      <el-row type="flex" class="row-bg">
        <el-col :span="8" :offset="0">
          <el-form-item :label="planTitle.userId" prop="name">
            <el-input v-model="userInfo.user_id" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="8" :offset="0">
          <el-form-item :label="planTitle.email" prop="name">
            <el-input v-model="userInfo.email" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="8" :offset="0" style="text-align: end">
          <el-form-item>
            <el-button type="primary" @click="subHistory">{{planTitle.GamesAuthorityHistory}}</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-card  shadow="never" style="border: 1px solid;background-color: #F6F8F9">
      <div slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.GameAuthority}}</span>
      </div>
      <el-form :model="currentGamesList" ref="currentGamesList" label-width="100px">
        <div>
          <el-card  shadow="never" body-style="padding: 0 10px 0 0" v-for="(item, index) in currentGamesList" :key="index">
            <el-tag type="info">
              <span style="font-weight: bold">{{ $i18n.locale == 'en'?item.e_name: item.name}}</span>
            </el-tag>
            <div v-for="(info,index) in item.set_meal_games" :key="index">
              <el-row type="flex" class="row-bg" style="margin: 5px 0 10px 0;">
                <el-col :span="3" style="text-align: center">
                  <div>
                    <div v-if="info.data_level != 3" class="item"></div>
                    <div v-else  class="item-red"></div>
                    <el-avatar shape="square" :size="40" fit="cover" :src="item.image" style="background: none"></el-avatar>
                  </div>
                </el-col>
                <el-col :span="6" :offset="0" style="margin-top: 5px">
                  <el-form-item
                    :label="planTitle.dataLevel"
                  >
                    <el-select v-model="info.data_level" placeholder="请选择" style="width: 100%;">
                      <el-option
                        v-for="item1 in level_list"
                        :key="item1.id"
                        :label="$i18n.locale == 'en'?item1.name:item1.name_cn"
                        :value="item1.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="0" style="margin-top: 5px">
                  <el-form-item
                    :label="planTitle.from"
                    key="2"
                  >
                    <el-date-picker
                      v-model="info.opening_at"
                      type="date"
                      value-format="yyyy-MM-dd"
                      :placeholder="message.start"
                      style="width:100%"
                      :picker-options="pickerOptions"
                      :clearable="false"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="0" style="margin-top: 5px">
                  <el-form-item
                    :label="planTitle.to"
                    key="4"
                  >
                    <el-date-picker
                      v-model="info.expiration_at"
                      type="date"
                      value-format="yyyy-MM-dd"
                      :placeholder="message.end"
                      style="width:100%"
                      :picker-options="pickerOptions"
                      :clearable="false"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="3" style="margin-top: 6px;margin-left: 10px">
                  <el-button type="success" icon="el-icon-plus" @click="subAdd(item.game_id)" circle></el-button>
                  <el-button type="danger" icon="el-icon-minus" @click="subDel(info.id)" circle></el-button>
                  <el-button type="primary" @click="subUpdate(info)">{{planTitle.update}}</el-button>

                </el-col>
              </el-row>
            </div>
            <div v-if="item.set_meal_games == 0" style="text-align: center;margin: 5px">
              <el-button type="success" icon="el-icon-plus" @click="subAdd(item.game_id)" circle></el-button>
            </div>
            <div style="text-align: center;margin: 5px">
            </div>
          </el-card>

        </div>
      </el-form>
    </el-card>

    <el-dialog width="70%" :title="planTitle.GamesAuthorityHistory" :visible.sync="dialogHistory">
      <el-form label-width="100px">
        <el-card  shadow="never" body-style="padding: 0 10px 0 0" v-for="(item, index) in historyList" :key="index">
          <el-tag type="info">
            <span style="font-weight: bold">{{$i18n.locale == 'en'?item.e_name:item.name}}</span>
          </el-tag>
          <el-row type="flex" class="row-bg" style="margin: 5px 0 10px 0;">
            <el-col :span="3" style="text-align: center">
              <div>
                <div class="item-red"></div>
                <el-avatar shape="square" :size="40" fit="cover" :src="item.image" style="background: none"></el-avatar>
              </div>
            </el-col>
            <el-col :span="7" :offset="0" style="margin-top: 5px">
              <el-form-item :label="planTitle.dataLevel" prop="name">
                <el-select disabled v-model="item.data_level" placeholder="请选择" style="width: 100%;">
                  <el-option
                    v-for="item in level_list"
                    :key="item.id"
                    :label="$i18n.locale == 'en'?item.name:item.name_cn"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="0" style="margin-top: 5px">
              <el-form-item :label="planTitle.from" prop="name">
                <el-date-picker
                  v-model="item.opening_at"
                  type="date"
                  value-format="yyyy-MM-dd"
                  :placeholder="message.start"
                  style="width:100%"
                  disabled
                />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="0" style="margin-top: 5px">
              <el-form-item :label="planTitle.to" prop="name">
                <el-date-picker
                  v-model="item.expiration_at"
                  type="date"
                  value-format="yyyy-MM-dd"
                  :placeholder="message.end"
                  style="width:100%"
                  disabled
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-form>
    </el-dialog>
    <el-dialog  width="40%" :title="planTitle.AddGameAuthority" :visible.sync="dialogAdd">
      <el-form :model="formAdd" ref="formAdd">
        <el-form-item
          :label="planTitle.dataLevel"
          prop="data_level"
          :rules="[
            { required: true, message: '请选择数据等级', trigger: 'blur' },
          ]"
        >
          <el-select v-model="formAdd.data_level" placeholder="请选择" style="width: 100%;">
            <el-option
              v-for="item1 in level_list"
              :key="item1.id"
              :label="$i18n.locale == 'en'?item1.name:item1.name_cn"
              :value="item1.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          :label="planTitle.from"
          key="2"
          prop="opening_at"
          :rules="[
            { required: true, message: message.Fieldrequired, trigger: 'blur' },
          ]"
        >
          <el-date-picker
            v-model="formAdd.opening_at"
            type="date"
            value-format="yyyy-MM-dd"
            :placeholder="message.start"
            style="width:100%"
            :picker-options="pickerOptions"
            :clearable="false"
          />
        </el-form-item>
        <el-form-item
          :label="planTitle.to"
          key="4"
          prop="expiration_at"
          :rules="[
            { required: true, message: message.Fieldrequired, trigger: 'blur' },
          ]"
        >
          <el-date-picker
            v-model="formAdd.expiration_at"
            type="date"
            value-format="yyyy-MM-dd"
            :placeholder="message.end"
            style="width:100%"
            :picker-options="pickerOptions"
            :clearable="false"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogAdd = false">{{message.cancel}}</el-button>
        <el-button type="primary" @click="subAddData('formAdd')">{{message.button}}</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
  import { levelsList } from '@/api/elementsData/common'
  import { user_meal_game_list, user_meal_game_history, user_game_role_edit, user_game_edit, user_game_del } from '@/api/elementsData/clientRules'
export default {
    name: "gamesTmp",
  props: {
    userInfo: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      formAdd: {
        data_level: 3,
        opening_at: '',
        expiration_at: '',
        game_id: '',
      },
      dialogAdd: false,
      // 设置只能选择当前日期及之后的日期
      pickerOptions: {
        disabledDate(time) {
          //如果没有后面的-8.64e7就是不可以选择今天的
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      dialogHistory: false,
      historyList: [],
      level_list: [
        {value: '1', label: this.$t('rules.planTitle.dataLevelSon.unsupported')},
        {value: '2', label: this.$t('rules.planTitle.dataLevelSon.basic')},
        {value: '3', label: this.$t('rules.planTitle.dataLevelSon.advanced')},
      ],
      currentGamesList: {
        current_user_games: [],
        renew_user_games: [],
      },
      renewGamesList: {
        current_user_games: [],
        renew_user_games: [],
      },
      form: {},
      //通用
      message: {
        Operationcanceled: this.$t('message.Operationcanceled'),
        Fieldrequired: this.$t('message.Fieldrequired'),
        end: this.$t('message.end'),
        to: this.$t('message.to'),
        start: this.$t('message.start'),
        Operationsucceeded: this.$t('message.Operationsucceeded'),
        Operationfailed: this.$t('message.Operationfailed'),
        button: this.$t('message.button'),
        cancel: this.$t('message.cancel'),
        signOut: this.$t('message.signOut'),
        ok: this.$t('message.ok'),
      },
      // 套餐
      planTitle: {
        deleteGameMessage: this.$t('rules.planTitle.deleteGameMessage'),
        updateGameMessage: this.$t('rules.planTitle.updateGameMessage'),
        AddGameAuthority: this.$t('rules.planTitle.AddGameAuthority'),
        GamesAuthorityHistory: this.$t('rules.planTitle.GamesAuthorityHistory'),
        GameAuthority: this.$t('rules.planTitle.GameAuthority'),
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        gamesHistory: this.$t('rules.planTitle.gamesHistory'),
        whiteList: this.$t('rules.planTitle.whiteList'),
        update: this.$t('rules.planTitle.update'),
        currentPlan: this.$t('rules.planTitle.currentPlan'),
        from: this.$t('rules.planTitle.from'),
        to: this.$t('rules.planTitle.to'),
        currentGames: this.$t('rules.planTitle.currentGames'),
        gameName: this.$t('rules.planTitle.gameName'),
        dataLevel: this.$t('rules.planTitle.dataLevel'),
        dataLevelSon: {
          unsupported: this.$t('rules.planTitle.dataLevelSon.unsupported'),
          basic: this.$t('rules.planTitle.dataLevelSon.basic'),
          advanced: this.$t('rules.planTitle.dataLevelSon.advanced'),
        },
        renewGames: this.$t('rules.planTitle.renewGames'),
      }
    }
  },
  mounted() {
    this.get_levels_list()
    this.getInfo()
  },
  methods: {
    subDel(id) {
      this.$confirm(this.planTitle.deleteGameMessage, '', {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.message.ok,
        cancelButtonText: this.message.cancel,
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        user_game_del(params).then(res => {
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          })
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.Operationcanceled
        });
      });
    },
    subAddData(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['user_id'] = this.userInfo.user_id
          params['game_id'] = this.formAdd.game_id
          params['data_level'] = this.formAdd.data_level
          params['opening_at'] = this.formAdd.opening_at
          params['expiration_at'] = this.formAdd.expiration_at
          user_game_edit(params).then(res => {
            this.$message({
              type: 'success',
              message: this.message.Operationsucceeded
            });
            this.dialogAdd = false
            this.getInfo()
          })
        } else {
          return false;
        }
      })
    },
    subAdd(game_id) {
      this.formAdd.game_id = game_id
      this.dialogAdd = true
    },
    // subRenew(formName) {
    //   this.$refs[formName].validate((valid) => {
    //     if (valid) {
    //       this.$confirm('更新续费套餐, 是否继续?', '提示', {
    //         confirmButtonText: '确定',
    //         cancelButtonText: '取消',
    //         type: 'warning'
    //       }).then(() => {
    //         var tmp = Object.values(this.renewGamesList.renew_user_games)
    //         tmp.forEach(item => {
    //           if (item.id) {
    //             if (item.data_level == 3) {
    //               item.is_stale = 3
    //             } else {
    //               item.is_stale = 2
    //             }
    //           } else {
    //             if (item.data_level != 3) {
    //               item.is_stale = 2
    //             }
    //           }
    //         })
    //         const params = {}
    //         params['game_roles'] = tmp
    //         user_game_role_edit(params).then(res => {
    //           this.$message({
    //             type: 'success',
    //             message: '更新成功!'
    //           });
    //           this.getInfo()
    //         })
    //       }).catch(() => {
    //         this.$message({
    //           type: 'info',
    //           message: '已取消'
    //         });
    //       })
    //     } else {
    //       return false;
    //     }
    //   })
    // },
    subUpdate(info) {
      this.$confirm(this.planTitle.updateGameMessage, '', {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.message.ok,
        cancelButtonText: this.message.cancel,
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = info.id
        params['user_id'] = info.user_id
        params['game_id'] = info.game_id
        params['data_level'] = info.data_level
        params['opening_at'] = info.opening_at
        params['expiration_at'] = info.expiration_at
        user_game_edit(params).then(res => {
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          })
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.Operationcanceled
        });
      })
    },
    subHistory() {
      const params = {}
      params['user_id'] = this.userInfo.user_id
      user_meal_game_history(params).then(res => {
        this.historyList = res.data
        this.dialogHistory = true
      })
    },
      getInfo() {
        const params = {}
        params['user_id'] = this.userInfo.user_id
        user_meal_game_list(params).then(res => {
          this.currentGamesList = res.data
        })
      },
      get_levels_list() {
        const params = {}
        levelsList(params).then(res => {
          this.level_list = res.data
        })
      }
  }
}
</script>

<style scoped>
  .item {
    display: inline-block;
    position: absolute;
    margin-left: 12px;
    text-align: center;
    top: 32px;
    border: 3px  solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #509f57;
  }
  .item-red {
    display: inline-block;
    position: absolute;
    margin-left: 12px;
    text-align: center;
    top: 32px;
    border: 3px  solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
  }

</style>
