<template>
<div>
  <el-form label-width="100px">
    <el-row type="flex" class="row-bg">
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.userId" prop="name">
          <el-input v-model="userInfo.user_id" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.email" prop="name">
          <el-input v-model="userInfo.email" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0" style="text-align: end">
        <el-form-item>
          <el-button type="primary" @click="subAdd">{{message.Add}}</el-button>
          <el-button @click="subHistory">{{planTitle.planHistory}}</el-button>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <el-table
    ref="tableSort"
    :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',}"
    :cell-style="{textAlign:'center', padding:'3px'}"
    :data="tableData"
  >
    <el-table-column :label="titleName.plan" prop="group_name" >
      <template slot-scope="scope">
        <div v-if="$i18n.locale == 'zh'">{{scope.row.group_name}}</div>
        <div v-if="$i18n.locale == 'en'">{{scope.row.group_e_name}}</div>
      </template>
    </el-table-column>
    <el-table-column :label="planTitle.from" prop="opening_at" >
    </el-table-column>
    <el-table-column :label="planTitle.to" prop="expiration_at" >
    </el-table-column>
    <el-table-column :label="planTitle.endpoints" prop="user_id" >
      <template slot-scope="scope">
        <div v-if="$i18n.locale == 'zh'">{{scope.row.interface_name_cn}}</div>
        <div v-if="$i18n.locale == 'en'">{{scope.row.interface_name}}</div>
      </template>
    </el-table-column>
    <el-table-column :label="planTitle.requestLimit" prop="user_id" >
      <template slot-scope="scope">
        <div v-if="$i18n.locale == 'zh'">{{(scope.row.request_num =='-1'? '':scope.row.request_num) + scope.row.hour_cn}}</div>
        <div v-if="$i18n.locale == 'en'">{{(scope.row.request_num =='-1'? '':scope.row.request_num) + scope.row.hour}}</div>
      </template>
    </el-table-column>
    <el-table-column :label="titleName.operations" prop="user_id" >
      <template slot-scope="scope">
        <el-button type="primary" @click="subEdit(scope.row.id)">{{message.Edit}}</el-button>
        <el-button type="" @click="subDel(scope.row.id)">{{message.Delete}}</el-button>
      </template>
    </el-table-column>
  </el-table>

</div>
</template>

<script>
  import { groupCenter,requestList } from '@/api/elementsData/common'
  import { user_meal_history, user_meal_list, user_meal_del } from '@/api/elementsData/clientRules'
  import currentPlanTmp from "../../roles/currentPlanTmp";
  import renewPlanTmp from "./renewPlanTmp";
export default {
    name: "planTmp",
  components: {currentPlanTmp, renewPlanTmp},
  props: {
      userInfo: {
        type: Object,
        default: () => ({})
      }
  },
  data() {
      return {
        toChildrenData: {
          edit_id: '',
          user_id: '',
          email: '',
        },
        dialogVisible: false,
        tableData: [],
        group_list: [],
        requestLimit_list: [],
        historyList: [],
        user_role_list: {
          current_user_rule: {},
          current_user_setmeal: {},
          interface: [],
          renew_user_rule: {},
          renew_user_setmeal: {},
        },
        form: {},
        //通用
        message: {
          Operationcanceled: this.$t('message.Operationcanceled'),
          end: this.$t('message.end'),
          to: this.$t('message.to'),
          start: this.$t('message.start'),
          Operationsucceeded: this.$t('message.Operationsucceeded'),
          Operationfailed: this.$t('message.Operationfailed'),
          button: this.$t('message.button'),
          cancel: this.$t('message.cancel'),
          signOut: this.$t('message.signOut'),
          ok: this.$t('message.ok'),
          Add: this.$t('message.Add'),
          Edit: this.$t('message.Edit'),
          Delete: this.$t('message.Delete'),
        },
        titleName: {
          createdAt: this.$t('rules.index.createdAt'),
          modifiedAt: this.$t('rules.index.modifiedAt'),
          email: this.$t('rules.index.email'),
          userId: this.$t('rules.index.userId'),
          search: this.$t('rules.index.search'),
          plan: this.$t('rules.index.plan'),
          expirationTime: this.$t('rules.index.expirationTime'),
          isRenewed: this.$t('rules.index.isRenewed'),
          games: this.$t('rules.index.games'),
          requestLimit: this.$t('rules.index.requestLimit'),
          logs: this.$t('rules.index.logs'),
          operations: this.$t('rules.index.operations'),
          detail: this.$t('rules.index.detail'),
          accountAuthority: this.$t('rules.index.accountAuthority'),
          privateTournament: this.$t('rules.index.privateTournament'),
        },
        // 套餐
        planTitle: {
          deleteMessage: this.$t('rules.planTitle.deleteMessage'),
          userId: this.$t('rules.planTitle.userId'),
          email: this.$t('rules.planTitle.email'),
          planHistory: this.$t('rules.planTitle.planHistory'),
          plan: this.$t('rules.planTitle.plan'),
          currentPlan: this.$t('rules.planTitle.currentPlan'),
          currentPlanSon: {
            unsupported: this.$t('rules.planTitle.currentPlanSon.unsupported'),
            free: this.$t('rules.planTitle.currentPlanSon.free'),
            basic: this.$t('rules.planTitle.currentPlanSon.basic'),
            basicPlus: this.$t('rules.planTitle.currentPlanSon.basicPlus'),
            professional: this.$t('rules.planTitle.currentPlanSon.professional'),
            professionalPlus: this.$t('rules.planTitle.currentPlanSon.professionalPlus'),
            primaryPlus: this.$t('rules.planTitle.currentPlanSon.primaryPlus'),
          },
          from: this.$t('rules.planTitle.from'),
          to: this.$t('rules.planTitle.to'),
          endpoints: this.$t('rules.planTitle.endpoints'),
          endpointsSon: {
            default: this.$t('rules.planTitle.endpointsSon.default'),
            customize: this.$t('rules.planTitle.endpointsSon.customize'),
          },
          requestLimit: this.$t('rules.planTitle.requestLimit'),
          requestLimitSon: {
            hour: this.$t('rules.planTitle.requestLimitSon.hour'),
            unlimited: this.$t('rules.planTitle.requestLimitSon.unlimited'),
          },
          update: this.$t('rules.planTitle.update'),
          renewPlan: this.$t('rules.planTitle.renewPlan'),
        }
      }
  },
  mounted() {
    this.get_groupCenter()
    this.getInfo()
  },
  methods: {
    subDel(id) {
      this.$confirm(this.planTitle.deleteMessage, '', {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.message.ok,
        cancelButtonText: this.message.cancel,
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        user_meal_del(params).then(res => {
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          });
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.Operationcanceled
        });
      });

    },
    subAdd() {
      this.$router.push({ path: '/elementsdata/roles/add', query: {user_id: this.userInfo.user_id, email: this.userInfo.email} })
    },
    subEdit(id) {
      this.$router.push({ path: '/elementsdata/roles/currentPlanTmp', query: {id: id} })
    },
      getInfo() {
        const params = {}
        params['user_id'] = this.userInfo.user_id
        user_meal_list(params).then(res => {
          this.tableData = res.data
        })
      },
    get_name(item) {
      if (this.$i18n.locale == 'en') {
        if (item.request_num == -1) {
          return  item.hour
        } else {
          return  item.request_num + item.hour
        }
      }else {
        if (item.request_num == -1) {
          return  item.hour_cn
        } else {
          return  item.request_num + item.hour_cn
        }
      }
    },
    get_groupCenter() {
      const params = {}
      groupCenter(params).then(res => {
        this.group_list = res.data
      })
      requestList(params).then(res => {
        this.requestLimit_list = res.data
      })
    },
    subHistory() {
      this.$router.push({ path: '/elementsdata/roles/planHistory', query: {user_id: this.userInfo.user_id, email: this.userInfo.email} })

      // const params = {}
      // params['user_id'] = this.userInfo.user_id
      // user_meal_history(params).then(res => {
      //   this.historyList = res.data
      //   this.dialogHistory = true
      //   this.historyList.forEach(item => {
      //     item.user_rule = this.get_change(Object.values(item.user_rule))
      //   })
      // })
    },
    get_change(games) {
      // 权限数据格式转换
      var list = []
      games.forEach(item => {
        var tmp = {
          game_name: '',
          data_list: [],
          data_pitch_on: [],
          checkAll: false,
          isIndeterminate: true,
        }
        tmp.game_name = item.r_name
        if (item.subset) {
          Object.values(item.subset).forEach(info => {
            tmp.data_list.push(info.r_name)
            if (info.is_tower == 1) {
              tmp.data_pitch_on.push(info.r_name)
            }
          })
        }
        var k = tmp.data_pitch_on.length
        var n = tmp.data_list.length
        if (0 < k < n) {
          tmp.checkAll = false
          tmp.isIndeterminate = true
        }
        if ( k == 0) {
          tmp.checkAll = false
          tmp.isIndeterminate = false
        }
        if (k==n) {
          tmp.checkAll = true
          tmp.isIndeterminate = false
        }
        list.push(tmp)
      })
      return list
    },
  }
}
</script>

<style>
  .el-loading-mask {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s
  }
</style>

<style scoped>

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

</style>
