<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>操作记录</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="historyList"
        style="width: 100%"
      >
        <el-table-column prop="id" label="ID" />
        <el-table-column prop="type" :label="logs.Type" />
        <el-table-column prop="resource_type" :label="logs.Resouce" />
        <el-table-column prop="name" :label="logs.Operator" />
        <el-table-column prop="created_time" :label="logs.LogTime" width="100px" />
        <el-table-column prop="detail" :label="logs.LogData" width="600px">
          <template slot-scope="scope">
            <p>{{ scope.row.info }}</p>
          </template>
        </el-table-column>
        <span slot="footer" class="dialog-footer" />
      </el-table>
      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="history.total"
          :current-page="history.page"
          :page-size="history.per_page"
          @current-change="history_changePager"
        />
      </div>
    </el-card>
  </div>
</template>

<script>
  import { user_operation_log, user_tournaments_log } from '@/api/elementsData/clientRules'
  export default {
    name: 'Operation',
    data() {
      return {
        historyList: [],
        history: {
          total: 20,
          page: 1,
          per_page: 10
        },
        logs: {
          Logs: this.$t('logs.Logs'),
          Type: this.$t('logs.Type'),
          Operator: this.$t('logs.Operator'),
          LogTime: this.$t('logs.LogTime'),
          LogData: this.$t('logs.LogData'),
          Resouce: this.$t('logs.Resouce'),
        },
      }
    },
    mounted() {
      this.log_info()
    },
    methods: {
      history_changePager(pageId) {
        this.history.page = pageId
        this.log_info()
      },
      log_info() {
        if (this.$route.query.type == 1) {
          const params = {}
          params['user_id'] = this.$route.query.user_id
          params['page'] = this.history.page
          params['per_page'] = this.history.per_page
          user_operation_log(params).then(req => {
            this.historyList = req.data.list
            this.history.total = 1 * req.data.count
          })
        }else {
          const params = {}
          params['tournament_id'] = this.$route.query.id
          params['user_id'] = this.$route.query.user_id
          params['page'] = this.history.page
          params['per_page'] = this.history.per_page
          user_tournaments_log(params).then(req => {
            this.historyList = req.data.list
            this.history.total = 1 * req.data.count
          })
        }

      }
    }
  }
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
