<template>
<div>
  <el-form label-width="100px" class="demo-dynamic">
    <el-row type="flex" class="row-bg">
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.userId" prop="name">
          <el-input v-model="userInfo.user_id" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.email" prop="name">
          <el-input v-model="userInfo.email" disabled/>
        </el-form-item>
      </el-col>
    </el-row>
    <div>
      <el-tag type="info">
        <span>{{planTitle.whiteList}}</span>
      </el-tag>
      <el-card  shadow="never">
        <div >
          <el-form :inline="true" label-width="100px" class="demo-form-inline">
            <el-row>
              <el-col :span="8" v-for="(ip, index) in whiteList" :key="index">
                <el-form-item
                  :label="whites.IPAdress + (index + 1)"
                  :key="ip.key"
                >
                  <el-input v-model="whiteList[index]" disabled></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click.prevent="subEdit(ip, index)">{{whites.Edit}}</el-button>
                  <el-button @click.prevent="removeDomain(ip)">{{whites.Delete}}</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
        <el-button type="primary" plain style="width: 100%" icon="el-icon-plus" @click="dialogFormVisible = true"></el-button>
      </el-card>
<!--      <div style="text-align: center">-->
<!--        <el-button type="primary" @click="subUpdate">{{planTitle.update}}</el-button>-->
<!--      </div>-->
    </div>
  </el-form>
  <el-dialog
    :title="whites.Add"
    :visible.sync="dialogFormVisible"
    width="30%"
    >
    <el-form :model="form" :rules="rules" ref="form">
      <el-form-item :label="whites.IPAdress" :label-width="formLabelWidth" prop="ip_address">
        <el-input v-model="form.ip_address" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">{{whites.Cancel}}</el-button>
    <el-button type="primary" @click="saveForm('form')">{{message.button}}</el-button>
  </span>
  </el-dialog>
  <el-dialog
    :title="whites.Edit"
    :visible.sync="dialogEdit"
    width="30%"
  >
    <el-form :model="formEdit" :rules="rulesEdit" ref="form">
      <el-form-item :label="whites.IPAdress" :label-width="formLabelWidth" prop="ip_address">
        <el-input v-model="formEdit.ip_address" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogEdit = false">{{whites.Cancel}}</el-button>
    <el-button type="primary" @click="subUpdate('form')">{{message.button}}</el-button>
  </span>
  </el-dialog>
</div>
</template>

<script>
import { user_white_list, user_white_edit } from '@/api/elementsData/clientRules'
export default {
    name: "whiteList",
  props: {
    userInfo: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
   var validateIP = (rule, value, callback) => {
     if (!value) {
       return callback(new Error(this.whites.Fieldrequired));
     }
     if (value && "..." === value) {
        callback(new Error(this.whites.Fieldrequired))
      }
      if (value && !(/((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))/).test(value)) {
        callback(new Error(this.whites.IPAdressIsInvalid))
      } else {
        callback()
      }
    }
    return {
      edit_id: '',
      whiteList: [],
      dialogEdit: false,
      dialogFormVisible: false,
      formLabelWidth: '100px',
      form: {
        ip_address: ''
      },
      formEdit: {
        ip_address: ''
      },
      rulesEdit: {
        ip_address: [
          {required: true, validator: validateIP, trigger: 'blur'},
        ]
      },
      rules: {
        ip_address: [
          {required: true, validator: validateIP, trigger: 'blur'},
        ]
      },
      message: {
        Operationsucceeded: this.$t('message.Operationsucceeded'), //操作成功
        Operationfailed: this.$t('message.Operationfailed'), //操作失败
        Operationcanceled: this.$t('message.Operationcanceled'), //操作取
        button: this.$t('message.button'), //提交
        cancel: this.$t('message.cancel'), //取消
        ok: this.$t('message.ok'), //确定
        already: this.$t('message.already')
      },
      // 白名单
      whites: {
        AddIPAdress: this.$t('whites.AddIPAdress'),
        IPAdress: this.$t('whites.IPAdress'),
        Add: this.$t('whites.Add'),
        Cance: this.$t('whites.Cance'),
        Edit: this.$t('whites.Edit'),
        EditIPAdress: this.$t('whites.EditIPAdress'),
        Fieldrequired: this.$t('whites.Fieldrequired'),
        IPAdressIsInvalid: this.$t('whites.IPAdressIsInvalid'),
        Update: this.$t('whites.Update'),
        Delete: this.$t('whites.Delete'),
        isDelete: this.$t('whites.isDelete'),
        OK: this.$t('whites.OK'),
        Cancel: this.$t('whites.Cancel'),
      },
      // 套餐
      planTitle: {
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        whiteList: this.$t('rules.planTitle.whiteList'),
        update: this.$t('rules.planTitle.update'),
      }
    }
  },
  mounted() {
      this.getInfo()
  },
  methods: {
    subEdit(ip, index) {
      this.edit_id = index
      this.formEdit.ip_address = ip
      this.dialogEdit = true
    },
    subUpdate(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.whiteList.indexOf(this.formEdit.ip_address) > -1) {
            this.$message({
              type: 'warning',
              message: this.message.already
            })
          }else {
            this.whiteList[this.edit_id] = this.formEdit.ip_address
            const params = {}
            params['user_id'] = this.userInfo.user_id
            params['white_list'] = this.whiteList
            user_white_edit(params).then(res => {
              this.$message({
                type: 'success',
                message: this.message.Operationsucceeded
              })
              this.dialogEdit = false
              this.getInfo()
            })
          }
        } else {
          return false;
        }
      })

    },
    removeDomain(item) {
      this.$confirm(this.whites.isDelete, {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.whites.OK,
        cancelButtonText: this.whites.Cancel,
        type: 'warning'
      }).then(() => {
        var index = this.whiteList.indexOf(item)
        if (index !== -1) {
          this.whiteList.splice(index, 1)
        }
        const params = {}
        params['user_id'] = this.userInfo.user_id
        params['white_list'] = this.whiteList
        user_white_edit(params).then(res => {
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          })
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.Operationcanceled
        });
      });

    },
      getInfo() {
        const params = {}
        params['user_id'] = this.userInfo.user_id
        user_white_list(params).then(res => {
          this.whiteList = res.data
        })
      },

    saveForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.whiteList.indexOf(this.form.ip_address) > -1) {
            this.$message({
              type: 'warning',
              message: this.message.already
            })
          } else {
            this.whiteList.push(this.form.ip_address)
            const params = {}
            params['user_id'] = this.userInfo.user_id
            params['white_list'] = this.whiteList
            user_white_edit(params).then(res => {
              this.$message({
                type: 'success',
                message: this.message.Operationsucceeded
              });
              this.dialogFormVisible = false
              this.form.ip_address = ''
              this.getInfo()
            })
          }
          this.whiteList.forEach(item => {

          })
        } else {
          return false;
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
