body {
  background-color: #F0F4FA !important;
}
.y-text-warning {
  color: #32329f !important;
}
.y-bg {
  color: #32329f !important;
}

.btn-violet {
  color: #fff !important;
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}

.btn-violet:hover {
  color: #fff !important;
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}

.btn-violet:focus, .btn-warning.focus {
  color: #fff !important;
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
  box-shadow: 0 0 0 0.2rem rgba(85, 85, 186, 0.5) !important;
}

.y-btn-danger {
  color: #fff !important;
  background-color: #bf5b51 !important;
  border-color: #bf5b51 !important;
}

.y-btn-danger:hover {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}

.y-btn-danger:focus, .btn-danger.focus {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5) !important;
}

.y-btn-outline-success {
  color: #fff !important;
  background-color: #509f57 !important;
  border-color: #509f57 !important;
}

.y-btn-outline-success:hover {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.y-btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important;
}
