<template>
  <div>
    <!--  nav导航菜单（常放在头部里面）-->
    <el-dropdown @command="handleCommand">
    <span class="avatar-dropdown">
<!--      <el-avatar class="user-avatar" :src="avatar"></el-avatar>-->
      <!--      <img class="user-avatar" :src="avatar" alt="" />-->
      <div class="user-name">
        {{ username }}
        <i class="el-icon-arrow-down el-icon--right"></i>
      </div>
    </span>

      <el-dropdown-menu slot="dropdown">
        <!--      <el-dropdown-item command="github">github地址</el-dropdown-item>-->
        <!--      <el-dropdown-item command="gitee" divided>码云地址</el-dropdown-item>-->
        <!--      <el-dropdown-item command="pro" divided>pro付费版地址</el-dropdown-item>-->
        <el-dropdown-item command="edit">{{Accountsecurity}}</el-dropdown-item>
        <el-dropdown-item command="logout">{{SignOut}}</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-dialog :title="password.ChangePassword" width="500px" z-index="995" :visible.sync="dialogFormVisible">
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
        <el-form-item :label="password.OldPassword" prop="old_password">
          <el-input type="password" v-model="ruleForm.old_password" :placeholder="password.old" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item :label="password.New" prop="pass">
          <el-input type="password" v-model="ruleForm.pass" :placeholder="password.newPassword" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item :label="password.NewConflrm" prop="checkPass">
          <el-input type="password" v-model="ruleForm.checkPass" :placeholder="password.Confirm" autocomplete="off"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{message.cancel}}</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')">{{message.button}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { recordRoute } from '@/config'
  import { user_modify_password } from '@/api/elementsData/clientRules'
  export default {
    name: 'VabAvatar',
    data() {
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error(this.$t('password.required')));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error(this.$t('password.required')))
        } else if (value !== this.ruleForm.pass) {
          callback(new Error(this.$t('password.match')));
        } else {
          callback();
        }
      };
      return {
        dialogFormVisible: false,
        formLabelWidth: '90px',
        ruleForm: {
          old_password:'',
          pass: '',
          checkPass: '',
        },
        rules: {
          old_password: [
            { required: true, message: this.$t('password.required'), trigger: 'change' }
          ],
          pass: [
            { validator: validatePass, trigger: 'blur' },
            { pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/, message: this.$t('password.combination') }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ]
        },
        Accountsecurity: this.$t('Accountsecurity'),
        SignOut: this.$t('SignOut'),
        message: {
          button: this.$t('message.button'),
          cancel: this.$t('message.cancel'),
          signOut: this.$t('message.signOut'),
          ok: this.$t('message.ok')
        },
        // 修改密码
        password: {
          ChangePassword: this.$t('password.ChangePassword'),
          OldPassword: this.$t('password.OldPassword'),
          old: this.$t('password.old'),
          required: this.$t('password.required'),
          New: this.$t('password.New'),
          NewConflrm: this.$t('password.NewConflrm'),
          newPassword: this.$t('password.newPassword'),
          combination: this.$t('password.combination'),
          Confirmnewpassword: this.$t('password.Confirmnewpassword'),
          Confirm: this.$t('password.Confirm'),
          match: this.$t('password.match'),
          Update: this.$t('password.Update'),
        },
    }
    },
    computed: {
      ...mapGetters({
        avatar: 'user/avatar',
        username: 'user/username',
      }),
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            const params = {}
            params['name'] = this.username
            params['old_password'] = this.ruleForm.old_password
            params['new_password'] = this.ruleForm.pass
            user_modify_password(params).then(res => {
              this.$message({
                type: 'success',
                message: '操作成功!'
              })
              this.dialogFormVisible = false
            })
          } else {
            return false;
          }
        });
      },
      subEdit() {
        console.log('修改密码')
        this.dialogFormVisible = true
      },
      handleCommand(command) {
        if(command == 'logout') {
          this.logout()
        }
        if(command == 'edit') {
          this.subEdit()
        }
        // switch (command) {
        //   case 'logout':
        //     this.logout()
        //     break
          // case 'personalCenter':
          //   this.personalCenter()
          //   break
          // case 'github':
          //   window.open('https://github.com/chuzhixin/vue-admin-beautiful')
          //   break
          // case 'gitee':
          //   window.open('https://gitee.com/chu1204505056/vue-admin-beautiful')
          //   break
          // case 'pro':
          //   window.open(
          //     'https://chu1204505056.gitee.io/admin-pro/?hmsr=homeAd&hmpl=&hmcu=&hmkw=&hmci='
          //   )
          //   break
          // case 'plus':
          //   window.open(
          //     'https://chu1204505056.gitee.io/admin-plus/?hmsr=homeAd&hmpl=&hmcu=&hmkw=&hmci='
          //   )
        // }
      },
      // personalCenter() {
      //   this.$router.push('/personalCenter/personalCenter')
      // },
      logout() {
        this.$baseConfirm(
          this.message.signOut,
          '',
          this.message.ok,
          this.message.cancel,
          async () => {
            await this.$store.dispatch('user/logout')
            if (recordRoute) {
              const fullPath = this.$route.fullPath
              this.$router.push(`/login?redirect=${fullPath}`)
            } else {
              this.$router.push('/login')
            }
          }
        )
      },
    },
  }
</script>
<style lang="scss" scoped>
  .avatar-dropdown {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 50px;
    padding: 0;

    .user-avatar {
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: 50%;
    }

    .user-name {
      position: relative;
      margin-left: 5px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
</style>
