<template>
  <div class="table-container">
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
      <el-tab-pane :label="planTitle.plan" name="1">
        <planTmp :userInfo="userInfo"/>
      </el-tab-pane>
      <el-tab-pane :label="planTitle.games" name="2">
        <gamesTmp :userInfo="userInfo"/>
      </el-tab-pane>
      <el-tab-pane :label="planTitle.whiteList" name="3">
        <whiteList :userInfo="userInfo"/>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
  import planTmp from "./comopnents/planTmp";
  import whiteList from "./comopnents/whiteList";
  import gamesTmp from "./comopnents/gamesTmp";
export default {
    name: "detail",
  components: {planTmp, whiteList, gamesTmp},
  data() {
      return {
        userInfo: {
          user_id: this.$route.query.user_id,
          email: this.$route.query.email,
        },
        activeName: '1',
        // 套餐
        planTitle: {
          plan: this.$t('rules.planTitle.plan'),
          games: this.$t('rules.planTitle.games'),
          whiteList: this.$t('rules.planTitle.whiteList'),
        }
      }
  },
  mounted() {
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    }
  }
}
</script>

<style scoped>

</style>
