<template>
  <div class="table-container">
    <el-form>
      <el-row type="flex" class="row-bg">
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.userId" prop="name">
            <el-input v-model="$route.query.user_id" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.email" prop="name">
            <el-input v-model="$route.query.email" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-card shadow="never">
      <el-form :model="form" ref="form" :inline="true" label-width="150px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="6">
            <el-form-item :label="privateTournament.game">
              <el-select v-model="form.game_id" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="$i18n.locale == 'en'?item.e_name:item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournamentName">
              <el-input v-model="form.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournametId">
              <el-input v-model="form.tournament_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6" style="text-align: end">
            <el-form-item>
              <el-button type="primary" @click="subFind">{{privateTournament.search}}</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="margin-top: 30px">
          <el-col :span="24">
            <el-form-item
              :label="privateTournament.tournament"
              prop="tournament"
              :rules="{
                    required: true, message: message.Fieldrequired, trigger: 'blur'
            }"
            >
              <el-select v-model="form.tournament" style="width: 500px" clearable>
                <el-option
                  v-for="(item,index) in tournament_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-card shadow="never" style="margin: 0 90px">
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.tournametId">
                <el-input v-model="tournament_detail.id" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.game">
                <el-input v-if="$i18n.locale=='zh'" v-model="tournament_detail.g_name" style="width: 400px" disabled/>
                <el-input v-if="$i18n.locale=='en'" v-model="tournament_detail.g_e_name" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.tournamentName">
                <el-input v-model="tournament_detail.t_name" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.icon">
                <img v-if="tournament_detail.image" style="height: 60px" :src="tournament_detail.image" class="avatar">
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.scheduledBeginAt">
                <el-input v-model="tournament_detail.scheduled_begin_at" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.scheduledEndAt">
                <el-input v-model="tournament_detail.scheduled_end_at" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.status">
                <el-input v-model="tournament_detail.status" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.isPrivate">
                <el-input v-if="$i18n.locale == 'zh'" v-model="tournament_detail.is_private" style="width: 400px" disabled/>
                <el-input v-if="$i18n.locale == 'en'" v-model="tournament_detail.is_private_e" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.publicDelay">
                <el-input v-if="$i18n.locale == 'zh'" v-model="tournament_detail.public_delay" style="width: 400px" disabled/>
                <el-input v-if="$i18n.locale == 'en'" v-model="tournament_detail.public_delay_e" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.publicDataLevel">
                <el-input v-if="$i18n.locale == 'zh'" v-model="tournament_detail.public_data_devel" style="width: 400px" disabled/>
                <el-input v-if="$i18n.locale == 'en'" v-model="tournament_detail.public_data_devel_e" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="11" >
              <el-form-item :label="privateTournament.hasPrivateDelay">
                <el-input v-if="$i18n.locale == 'zh'" v-model="tournament_detail.is_private_delay" style="width: 400px" disabled/>
                <el-input v-if="$i18n.locale == 'en'" v-model="tournament_detail.is_private_delay_e" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item :label="privateTournament.privateDelaySecond">
                <el-input v-model="tournament_detail.private_delay_seconds" style="width: 400px" disabled/>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
        <el-row type="flex" class="row-bg" justify="center" style="margin: 30px 0 40px 0">
          <el-col v-if="tournament_detail.is_private_delay == '否'" :span="8" >
            <el-form-item
              :label="privateTournament.privateDelay"
              prop="delay_type"
              :rules="{
                    required: true, message: '请选择', trigger: 'blur'
            }"
            >
              <el-select v-model="form.delay_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in privateDelayList1"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col v-else :span="8" >
            <el-form-item
              :label="privateTournament.privateDelay"
              prop="delay_type"
              :rules="{
                    required: true, message: '请选择', trigger: 'blur'
            }"
            >
              <el-select v-model="form.delay_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in privateDelayList"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="1"></el-col>
          <el-col :span="8">
            <el-form-item :label="privateTournament.privateDataLevel">
              <el-select v-model="form.data_level" placeholder="请选择">
                <el-option
                  v-for="(item,index) in privateDataLevelList"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div style="text-align: center">
          <el-button type="primary" @click="subEdit('form')">{{privateTournament.Submit}}</el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
  import { gameList } from '@/api/elementsData/common'
  import { tournaments_find, tournament_info, tournament_edit, custom_tournament_info } from '@/api/elementsData/clientRules'
  export default {
    name: "add",
    data() {
      return {
        tournament_detail: {},
        tournament_list: [],
        allgames: [],
        form: {
          tournament_id: '',
          tournament: '',
          name: '',
          game_id: 0,
          delay_type: '',
          data_level: '',
        },
        planTitle: {
          userId: this.$t('rules.planTitle.userId'),
          email: this.$t('rules.planTitle.email'),
          planHistory: this.$t('rules.planTitle.planHistory'),
        },
        privateDelayList: [
          {id: '1', name: this.$t('rules.privateTournament.privateDelaySon.public') },
          {id: '2', name: this.$t('rules.privateTournament.privateDelaySon.advantage') },
          {id: '3', name: this.$t('rules.privateTournament.privateDelaySon.private') },
          {id: '4', name: this.$t('rules.privateTournament.privateDelaySon.unlimited') },
        ],
        privateDelayList1: [
          {id: '1', name: this.$t('rules.privateTournament.privateDelaySon.public') },
          {id: '2', name: this.$t('rules.privateTournament.privateDelaySon.advantage') },
          {id: '4', name: this.$t('rules.privateTournament.privateDelaySon.unlimited') },
        ],
        privateDataLevelList: [
          {id: '1', name: this.$t('rules.privateTournament.privateDataLevelSon.basic') },
          {id: '2', name: this.$t('rules.privateTournament.privateDataLevelSon.advanced') },
        ],
        //通用
        message: {
          Fieldrequired: this.$t('message.Fieldrequired'),
          end: this.$t('message.end'),
          to: this.$t('message.to'),
          start: this.$t('message.start'),
          Operationsucceeded: this.$t('message.Operationsucceeded'),
          Operationfailed: this.$t('message.Operationfailed'),
          button: this.$t('message.button'),
          cancel: this.$t('message.cancel'),
          signOut: this.$t('message.signOut'),
          ok: this.$t('message.ok'),
        },
        // 私有赛事
        privateTournament: {
          Submit: this.$t('rules.privateTournament.Submit'),
          updatethisauthority:this.$t('rules.privateTournament.updatethisauthority'),
          privateTournament: this.$t('rules.privateTournament.privateTournament'),
          userId: this.$t('rules.privateTournament.userId'),
          email: this.$t('rules.privateTournament.email'),
          game: this.$t('rules.privateTournament.game'),
          gameSon: {
            all: this.$t('rules.privateTournament.gameSon.all'),
          },
          status: this.$t('rules.privateTournament.status'),
          statusSon: {
            all: this.$t('rules.privateTournament.statusSon.all'),
            upcoming: this.$t('rules.privateTournament.statusSon.upcoming'),
            ongoing: this.$t('rules.privateTournament.statusSon.ongoing'),
            completed: this.$t('rules.privateTournament.statusSon.completed'),
          },
          scheduledBeginAt: this.$t('rules.privateTournament.scheduledBeginAt'),
          scheduledEndAt: this.$t('rules.privateTournament.scheduledEndAt'),
          tournamentName: this.$t('rules.privateTournament.tournamentName'),
          tournametId: this.$t('rules.privateTournament.tournametId'),
          add: this.$t('rules.privateTournament.add'),
          search: this.$t('rules.privateTournament.search'),
          icon: this.$t('rules.privateTournament.icon'),
          publicDelay: this.$t('rules.privateTournament.publicDelay'),
          publicDataLevel: this.$t('rules.privateTournament.publicDataLevel'),
          privateDelay: this.$t('rules.privateTournament.privateDelay'),
          privateDelaySon: {
            public: this.$t('rules.privateTournament.privateDelaySon.public'),
            advantage: this.$t('rules.privateTournament.privateDelaySon.advantage'),
            private: this.$t('rules.privateTournament.privateDelaySon.private'),
            unlimited: this.$t('rules.privateTournament.privateDelaySon.unlimited'),
          },
          privateDataLevel: this.$t('rules.privateTournament.privateDataLevel'),
          privateDataLevelSon: {
            basic: this.$t('rules.privateTournament.privateDelaySon.privateDataLevelSon'),
            advanced: this.$t('rules.privateTournament.privateDelaySon.advanced'),
          },
          setingCreatedAt: this.$t('rules.privateTournament.setingCreatedAt'),
          setingModifieldAt: this.$t('rules.privateTournament.setingModifieldAt'),
          logs: this.$t('rules.privateTournament.logs'),
          operations: this.$t('rules.privateTournament.operations'),
          edit: this.$t('rules.privateTournament.edit'),
          delete: this.$t('rules.privateTournament.delete'),
          tournament: this.$t('rules.privateTournament.tournament'),
          isPrivate: this.$t('rules.privateTournament.isPrivate'),
          isPrivateSon: {
            true: this.$t('rules.privateTournament.isPrivateSon.true'),
            false: this.$t('rules.privateTournament.isPrivateSon.false'),
          },
          hasPrivateDelay: this.$t('rules.privateTournament.hasPrivateDelay'),
          privateDelaySecond: this.$t('rules.privateTournament.privateDelaySecond'),
        },
      }
    },
    watch: {
      'form.tournament': {
        handler() {
          if (this.form.tournament) {
            this.get_tournament_info()
          }
        },
        immediate: true
      }
    },
    mounted() {
      this.getGames()
      this.getInfo()
    },
    methods: {
      getGames() {
        const params = {}
        gameList(params).then(res => {
          this.allgames = res.data
          var tmp = {e_name: 'All',id: 0, name: '全部'}
          this.allgames.unshift(tmp)
        })
      },
      getInfo() {
        const params = {}
        params['id'] = this.$route.query.id
        custom_tournament_info(params).then(res => {
          this.form.data_level = '' + res.data.data_level
          this.form.delay_type = '' + res.data.delay_type
          this.tournament_list[0] = res.data
          this.form.tournament = res.data.id
        })
      },
      subEdit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm(this.privateTournament.updatethisauthority, '', {
              lockScroll: false, //消除窗口抖动
              confirmButtonText: this.message.ok,
              cancelButtonText: this.message.cancel,
              type: 'warning'
            }).then(() => {
              const params = {}
              params['sour_id'] = this.form.tournament
              params['id'] = this.$route.query.id
              params['user_id'] = this.$route.query.user_id
              params['delay_type'] = this.form.delay_type
              params['data_level'] = this.form.data_level
              tournament_edit(params).then(res => {
                this.$message({
                  type: 'success',
                  message: this.message.Operationsucceeded
                })
                this.$router.push({ path: '/elementsdata/clientRules/privateTournament', query: { user_id: this.$route.query.user_id, email: this.$route.query.email } })
              })
            })
          } else {
            return false;
          }
        });

      },
      get_tournament_info() {
        const params = {}
        params['tournament_id'] = this.form.tournament
        tournament_info(params).then(res => {
          this.tournament_detail = res.data
        })
      },
      subFind() {
        const params = {}
        params['game_id'] = this.form.game_id
        params['name'] = this.form.name
        params['tournament_id'] = this.form.tournament_id
        tournaments_find(params).then(res => {
          this.form.tournament = ''
          this.tournament_detail = {}
          this.tournament_list = res.data
        })
      }
    }
  }
</script>

<style scoped>

</style>
