<template>
<div class="table-container">
  <el-form :data="req" :inline="true" label-width="100px" size="mini">
    <el-row>
      <el-col :span="6">
        <el-form-item :label=titleName.createdAt>
          <el-date-picker
            v-model="req.timeAreaBegin"
            type="daterange"
            value-format="yyyy-MM-dd"
            :range-separator="message.to"
            :start-placeholder="message.start"
            :end-placeholder="message.end"
            style="width:220px"
          />
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item :label="titleName.modifiedAt">
          <el-date-picker
            v-model="req.timeAreaEnd"
            type="daterange"
            value-format="yyyy-MM-dd"
            :range-separator="message.to"
            :start-placeholder="message.start"
            :end-placeholder="message.end"
            style="width:220px"
          />
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <el-form-item :label="titleName.email">
          <el-input v-model="req.email" style="width: 220px" />
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <el-form-item :label="titleName.userId">
          <el-input v-model="req.user_id" style="width: 220px;" />
        </el-form-item>
      </el-col>
      <el-col :span="2" style="text-align: end">
        <el-form-item>
          <el-button type="primary" @click="fetchData">{{titleName.search}}</el-button>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24" style="text-align: end">

      </el-col>
    </el-row>
  </el-form>
  <el-table
    :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',borderRight: '1px solid #ebeef5',}"
    :cell-style="{textAlign:'center', padding:'3px',borderRight: '0px solid #ebeef5'}"
    v-loading="listLoading"
    :data="list"
    :element-loading-text="elementLoadingText"
  >
    <el-table-column show-overflow-tooltip :label="titleName.userId" prop="user_id" width="95">
    </el-table-column>
    <el-table-column  :label="titleName.email" prop="email"></el-table-column>
      <el-table-column  :label="titleName.currentPlan">
        <template slot-scope="scope">
          <div>{{$i18n.locale == 'en'?scope.row.group_e_name:scope.row.group_name}}</div>
        </template>
      </el-table-column>
      <el-table-column :label="titleName.CurrentPlanFrom" prop="opening_at" width="107">

      </el-table-column>
      <el-table-column  :label="titleName.CurrentPlanTo" prop="expiration_at" width="107">
        <template slot-scope="scope">
          <div v-if="$shaoxia.getDaysBetween(new Date(),scope.row.expiration_at) < 30" style="color: red">{{scope.row.expiration_at}}</div>
          <div v-else style="color: #33AB62">{{scope.row.expiration_at}}</div>
        </template>
      </el-table-column>

      <el-table-column  :label="titleName.RenewPlan">
        <template slot-scope="scope">
          <div>{{$i18n.locale == 'en'?scope.row.renew_group_e_name:scope.row.renew_group_name}}</div>
        </template>
      </el-table-column>
      <el-table-column :label="titleName.RenewPlanFrom" prop="renew_opening_at" width="100">
      </el-table-column>
      <el-table-column  :label="titleName.RenewPlanTo" prop="expiration_at" width="100">
        <template slot-scope="scope">
          <div>{{scope.row.renew_expiration_at}}</div>
        </template>
      </el-table-column>
    <el-table-column  :label="titleName.games" prop="request_restriction" width="350px">
      <template slot-scope="scope" v-if="scope.row.game_setmeal">
        <div style="display: flex;align-items: center;justify-content: center;flex-wrap: wrap">
          <div v-for="(item,index) in scope.row.game_setmeal" :key="index" >
            <div v-if="$shaoxia.isToday(item.opening_at)">
              <div style="margin: 1px;background-color: #B9B9B9">
                <img :src="item.simple_image" style="height: 20px;width: 20px;margin: 2px 2px;">
              </div>
            </div>
            <div v-else>
              <div v-if="item.data_level == 3">
                <div style="margin: 1px;background-color: #B9B9B9">
                  <img :src="item.simple_image" style="height: 20px;width: 20px;margin: 2px 2px;">
                </div>
              </div>
              <div v-else>
                <div v-if="!item.expiration_at"  style="margin: 1px;background-color: #B9B9B9">
                  <img :src="item.simple_image" style="height: 20px;width: 20px;margin: 2px 2px;">
                </div>
                <div v-if=" item.expiration_at && $shaoxia.getDaysBetween(new Date(),item.expiration_at) < 0" style="margin: 1px;background-color: #B9B9B9">
                  <el-tooltip :content="item.expiration_at" placement="top" effect="light">
                    <img :src="item.simple_image" style="height: 20px;width: 20px;margin: 2px 2px;">
                  </el-tooltip>
                </div>
                <div v-if="item.expiration_at && $shaoxia.getDaysBetween(new Date(),item.expiration_at) < 30&&$shaoxia.getDaysBetween(new Date(),item.expiration_at)>0" style="border:1px solid red;margin: 1px">
                  <el-tooltip :content="item.expiration_at" placement="top" effect="light">
                    <img :src="item.image" style="height: 20px;width: 20px;margin: 2px 2px;">
                  </el-tooltip>
                </div>
                <div v-if=" item.expiration_at && $shaoxia.getDaysBetween(new Date(),item.expiration_at) > 30" style="border:1px solid forestgreen;margin: 1px">
                  <el-tooltip :content="item.expiration_at" placement="top" effect="light">
                    <img :src="item.image" style="height: 20px;width: 20px;margin: 2px 2px;">
                  </el-tooltip>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </el-table-column>
    <el-table-column  :label="titleName.requestLimit">
      <template slot-scope="scope">
        <div><span v-if="scope.row.request_num != -1">{{scope.row.request_num}}</span>{{$i18n.locale == 'en'?scope.row.hour:scope.row.hour_cn}}</div>
      </template>
    </el-table-column>
    <el-table-column  :label="titleName.createdAt" prop="created_at" width="100"></el-table-column>
    <el-table-column  :label="titleName.modifiedAt" prop="modified_at" width="100"></el-table-column>
    <el-table-column  :label="titleName.logs" prop="author">
      <template slot-scope="scope">
        <span v-if="scope.row.log_num">({{ scope.row.log_num }})</span>
        <span v-if="!scope.row.log_num">(0)</span>
        <el-button v-if="scope.row.log_num" type="text" size="small" @click="getHistory(scope.row.user_id )">{{titleName.logs}}</el-button>
        <el-button v-if="!scope.row.log_num" type="text" size="small">{{titleName.logs}}</el-button>
      </template>
    </el-table-column>
    <el-table-column  :label="titleName.operations" width="150px">
      <template #default="{ row }">
        <router-link :to="{path:'/elementsdata/clientRules/detail',query:{user_id: row.user_id, email: row.email}}" style="margin: 0 10px;">
          <el-button type="text"  style="">{{titleName.accountAuthority}}</el-button>
        </router-link>
        <div>
          <el-button type="text" @click="subPrivateTournament(row)" style="">{{titleName.privateTournament}}</el-button>
        </div>
        <el-button type="text" @click="subDetail(row)" style="">{{titleName.detail}}</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination
    :background="background"
    :current-page="req.page"
    :layout="layout"
    :page-size="req.per_page"
    :total="total"
    @current-change="handleCurrentChange"
    @size-change="handleSizeChange"
  ></el-pagination>
<!--  用户详情-->
  <el-dialog
    :title="userTitle.detail"
    :visible.sync="dialogVisible"
    width="50%"
    >
    <el-form >
      <el-row type="flex" class="row-bg" :gutter="40">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.userId" prop="name">
            <el-input v-model="user_info.user_id" disabled/>
          </el-form-item>
        </el-col>

      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.email" prop="name">
            <el-input v-model="user_info.email" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.displayName">
            <el-input v-model="user_info.username" disabled/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.mobile" prop="name">
            <el-input v-model="user_info.cell_phone" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.phone">
            <el-input v-model="user_info.tele_phone" disabled/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60" >
        <el-col :span="12" :offset="0" v-if="$i18n.locale == 'zh'">
          <el-form-item :label="userTitle.country" prop="name">
            <el-select v-model="user_info.country" disabled style="width: 100%;">
              <el-option
                v-for="item in regions_list_zh"
                :key="item.id"
                :label="item.name"
                :value="''+item.id"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0" v-if="$i18n.locale == 'en'">
          <el-form-item :label="userTitle.country" prop="name">
            <el-select v-model="user_info.country" disabled style="width: 100%;">
              <el-option
                v-for="item in regions_list_en"
                :key="item.id"
                :label="item.e_name"
                :value="''+item.id"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.timeZone">
            <el-select v-model="user_info.time_zone" disabled style="width: 100%;">
              <el-option
                v-for="item in time_zone_list"
                :key="item.value"
                :label="item.text"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">{{userTitle.close}}</el-button>
  </span>
  </el-dialog>
</div>
</template>

<script>
  import { custom_list, user_detail, user_operation_log } from '@/api/elementsData/clientRules'
  import { regions } from '@/api/elementsData/common'
export default {
    name: "index",
  data() {
      return {
        loading: true,
        nowMonth: '',
        regions_list_en: [],
        regions_list_zh: [],
        user_info: {},
        dialogVisible: false,
        form: {},
        total: 0,
        req: {
          user_id: '',
          email: '',
          timeAreaBegin: [],
          timeAreaEnd: [],
          per_page: 20,
          page: 1,
        },
        layout: 'total, sizes, prev, pager, next, jumper',
        background: true,
        elementLoadingText: '正在加载...',
        listLoading: true,
        list: [
        ],
        time_zone_list: [
          {value: '0', text: 'UTC'},
          {value: '1', text: 'UTC+1'},
          {value: '2', text: 'UTC+2'},
          {value: '3', text: 'UTC+3'},
          {value: '4', text: 'UTC+4'},
          {value: '5', text: 'UTC+5'},
          {value: '6', text: 'UTC+6'},
          {value: '7', text: 'UTC+7'},
          {value: '8', text: 'UTC+8'},
          {value: '9', text: 'UTC+9'},
          {value: '10', text: 'UTC+10'},
          {value: '11', text: 'UTC+11'},
          {value: '12', text: 'UTC+12'},
          {value: '-1', text: 'UTC-1'},
          {value: '-2', text: 'UTC-2'},
          {value: '-3', text: 'UTC-3'},
          {value: '-4', text: 'UTC-4'},
          {value: '-5', text: 'UTC-5'},
          {value: '-6', text: 'UTC-6'},
          {value: '-7', text: 'UTC-7'},
          {value: '-8', text: 'UTC-8'},
          {value: '-9', text: 'UTC-9'},
          {value: '-10', text: 'UTC-10'},
          {value: '-11', text: 'UTC-11'},
          {value: '-12', text: 'UTC-12'},
        ],
        message: {
          end: this.$t('message.end'),
          start: this.$t('message.start'),
          to: this.$t('message.to'),
        },
        titleName: {
          createdAt: this.$t('rules.index.createdAt'),
          modifiedAt: this.$t('rules.index.modifiedAt'),
          email: this.$t('rules.index.email'),
          userId: this.$t('rules.index.userId'),
          search: this.$t('rules.index.search'),
          plan: this.$t('rules.index.plan'),

          currentPlan: this.$t('rules.index.currentPlan'),
          CurrentPlanFrom: this.$t('rules.index.CurrentPlanFrom'),
          CurrentPlanTo: this.$t('rules.index.CurrentPlanTo'),
          RenewPlan: this.$t('rules.index.RenewPlan'),
          RenewPlanFrom: this.$t('rules.index.RenewPlanFrom'),
          RenewPlanTo: this.$t('rules.index.RenewPlanTo'),

          expirationTime: this.$t('rules.index.expirationTime'),
          isRenewed: this.$t('rules.index.isRenewed'),
          games: this.$t('rules.index.games'),
          requestLimit: this.$t('rules.index.requestLimit'),
          logs: this.$t('rules.index.logs'),
          operations: this.$t('rules.index.operations'),
          detail: this.$t('rules.index.detail'),
          accountAuthority: this.$t('rules.index.accountAuthority'),
          privateTournament: this.$t('rules.index.privateTournament'),
        },
        //用户详情
        userTitle: {
          detail: this.$t('rules.userTitle.detail'),
          userId: this.$t('rules.userTitle.userId'),
          email: this.$t('rules.userTitle.email'),
          displayName: this.$t('rules.userTitle.displayName'),
          mobile: this.$t('rules.userTitle.mobile'),
          phone: this.$t('rules.userTitle.phone'),
          country: this.$t('rules.userTitle.country'),
          timeZone: this.$t('rules.userTitle.timeZone'),
          close: this.$t('rules.userTitle.close'),
        }
      }
  },
  mounted() {
    this.nowMonth = new Date().getMonth()
    this.fetchData()
    this.get_regions()
  },
  methods: {
    get_regions() {
      const params = {}
      regions(params).then(res => {
        this.regions_list_en = res.data.en
        this.regions_list_zh = res.data.zh
      })
    },
    getHistory(id) {
      this.$router.push({ path: '/elementsdata/clientRules/comopnents/tmpLog', query: {user_id: id, type: 1} })
    },
    subPrivateTournament(row) {
      this.$router.push({ path: '/elementsdata/clientRules/privateTournament', query: {user_id: row.user_id, email: row.email} })
    },
    subDetail(row) {
      const params = {}
      params['user_id'] = row.user_id
      user_detail(params).then(res => {
        this.user_info = res.data
        this.dialogVisible = true
      })
    },
    handleSizeChange(val) {
      this.req.per_page = val
      this.fetchData()
    },
    handleCurrentChange(val) {
      this.req.page = val
      this.fetchData()
    },
    fetchData() {
      this.listLoading = true
      const params = {}
      params['email'] = this.req.email
      params['user_id'] = this.req.user_id
      params['per_page'] = this.req.per_page
      params['page'] = this.req.page
      if (this.req.timeAreaBegin) {
        params['created_at_start'] = this.req.timeAreaBegin[0]
        params['created_at_end'] = this.req.timeAreaBegin[1]
      }
      if (this.req.timeAreaEnd) {
        params['modified_at_start'] = this.req.timeAreaEnd[0]
        params['modified_at_end'] = this.req.timeAreaEnd[1]
      }
      custom_list(params).then(res => {
        this.list = res.data.list
        this.total = res.data.count
        this.listLoading = false
      })
    }
  }
}
</script>

<style>
  .el-table .cell {

    white-space: pre-line;
  }
</style>
