<template>
  <div class="table-container">
    <el-form>
      <el-row type="flex" class="row-bg">
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.userId" prop="name">
            <el-input v-model="$route.query.user_id" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.email" prop="name">
            <el-input v-model="$route.query.email" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-card shadow="never">
      <el-form :data="req" :inline="true" label-width="140px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="6">
            <el-form-item :label="privateTournament.game">
              <el-select v-model="req.game_id" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="$i18n.locale == 'en'?item.e_name:item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.status">
              <el-select v-model="req.status" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in match_status_list"
                  :key="index"
                  :label="$i18n.locale == 'zh'?item.name:item.c_name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournamentName">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournametId">
              <el-input v-model="req.tid" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item :label=privateTournament.scheduledBeginAt>
              <el-date-picker
                v-model="req.timeBeginArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                :range-separator="message.to"
                :start-placeholder="message.start"
                :end-placeholder="message.end"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.scheduledEndAt">
              <el-date-picker
                v-model="req.timeEndArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                :range-separator="message.to"
                :start-placeholder="message.start"
                :end-placeholder="message.end"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12" style="text-align: end">
            <el-form-item>
              <el-button  @click="subAdd">{{privateTournament.add}}</el-button>
              <el-button type="primary" @click="fetchData">{{privateTournament.search}}</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        ref="tableSort"
        :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',}"
        :cell-style="{textAlign:'center', padding:'3px'}"
        v-loading="listLoading"
        :data="list"
        :element-loading-text="elementLoadingText"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        style="width: 100%;white-space: pre-wrap"
      >
        <el-table-column  :label="privateTournament.tournametId" prop="t_id" width="95">
        </el-table-column>
        <el-table-column  :label="privateTournament.tournamentName" prop="t_name" min-width="110"></el-table-column>
        <el-table-column  :label="privateTournament.icon">
          <template slot-scope="scope">
            <img v-if="scope.row.image" :src="scope.row.image" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column  :label="privateTournament.game">
          <template slot-scope="scope">
            <img v-if="scope.row.g_image" :src="scope.row.g_image" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column  :label="privateTournament.scheduledBeginAt" prop="scheduled_begin_at" width="105"></el-table-column>
        <el-table-column  :label="privateTournament.scheduledEndAt" prop="scheduled_end_at" width="105"></el-table-column>
        <el-table-column  :label="privateTournament.status" prop="status">
        </el-table-column>
        <el-table-column  :label="privateTournament.publicDelay" prop="public_delay">
          <template slot-scope="scope">
            <div>{{$i18n.locale == 'zh'?scope.row.public_delay: scope.row.public_delay_e}}</div>
          </template>
        </el-table-column>
        <el-table-column  :label="privateTournament.publicDataLevel" prop="public_data_devel" min-width="100">
          <template slot-scope="scope">
            <div>{{$i18n.locale == 'zh'?scope.row.public_data_devel: scope.row.public_data_devel_e}}</div>
          </template>
        </el-table-column>
        <el-table-column  :label="privateTournament.privateDelay" prop="private_delay_type"></el-table-column>
        <el-table-column  :label="privateTournament.privateDataLevel" prop="private_data_level" min-width="100"></el-table-column>
        <el-table-column  :label="privateTournament.setingCreatedAt" prop="created_at" width="105"></el-table-column>
        <el-table-column  :label="privateTournament.setingModifieldAt" prop="modified_at" width="105"></el-table-column>
        <el-table-column  :label="privateTournament.logs">
          <template slot-scope="scope">
            <span v-if="scope.row.log_num">({{ scope.row.log_num }})</span>
            <span v-if="!scope.row.log_num">(0)</span>
            <el-button v-if="scope.row.log_num" type="text" size="small" @click="getHistory(scope.row.t_id)">{{titleName.logs}}</el-button>
            <el-button v-if="!scope.row.log_num" type="text" size="small">{{titleName.logs}}</el-button>
          </template>
        </el-table-column>
        <el-table-column :label="privateTournament.operations" width="150px">
          <template #default="{ row }">
            <div>
              <el-button type="text" @click="subPrivateTournamentEdit(row)" >{{privateTournament.edit}}</el-button>
            </div>
            <div v-if="row.deleted == 2">
              <el-button type="text" @click="subDelete(row)" style="color: coral">{{privateTournament.delete}}</el-button>
            </div>
            <div v-if="row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(row)">{{privateTournament.recovery}}</el-button>
            </div>
          </template>

        </el-table-column>
      </el-table>
      <el-pagination
        :background="background"
        :current-page="req.page"
        :layout="layout"
        :page-size="req.per_page"
        :total="total"
        @current-change="handleCurrentChange"
        @size-change="handleSizeChange"
      ></el-pagination>
    </el-card>
  </div>
</template>

<script>
  import { tournaments_list, tournament_deleted } from '@/api/elementsData/clientRules'
  import { gameList, matchStatus } from '@/api/elementsData/common'
export default {
  name: "index",
  data() {
    return {
      match_status_list: [],
      form: {},
      req: {
        timeBeginArea: [],
        timeEndArea: [],
        tid: '',
        game_id: 0,
        status: 0,
        name: '',
        page: 1,
        per_page: 20,
      },
      layout: 'total, sizes, prev, pager, next, jumper',
      total: 0,
      background: true,
      elementLoadingText: '正在加载...',
      listLoading: true,
      list: [
        {title: '100',author: '20ssdvfkfdanvdalkvklsfk0'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
        {title: '100',author: '200'},
      ],
      allgames: [],
      allstatus: [
        // {id: '1', name: this.$t('rules.privateTournament.statusSon.all') },
        {id: '1', name: this.$t('rules.privateTournament.statusSon.upcoming') },
        {id: '2', name: this.$t('rules.privateTournament.statusSon.ongoing') },
        {id: '3', name: this.$t('rules.privateTournament.statusSon.completed') },
      ],
      titleName: {
        logs: this.$t('rules.index.logs'),
      },
        // 私有赛事
      privateTournament: {
        deleteMessage: this.$t('rules.privateTournament.deleteMessage'),
        recoveryMessage: this.$t('rules.privateTournament.recoveryMessage'),
        privateTournament: this.$t('rules.privateTournament.privateTournament'),
        userId: this.$t('rules.privateTournament.userId'),
        email: this.$t('rules.privateTournament.email'),
        game: this.$t('rules.privateTournament.game'),
        gameSon: {
          all: this.$t('rules.privateTournament.gameSon.all'),
        },
        status: this.$t('rules.privateTournament.status'),
        statusSon: {
          all: this.$t('rules.privateTournament.statusSon.all'),
          upcoming: this.$t('rules.privateTournament.statusSon.upcoming'),
          ongoing: this.$t('rules.privateTournament.statusSon.ongoing'),
          completed: this.$t('rules.privateTournament.statusSon.completed'),
        },
        scheduledBeginAt: this.$t('rules.privateTournament.scheduledBeginAt'),
        scheduledEndAt: this.$t('rules.privateTournament.scheduledEndAt'),
        tournamentName: this.$t('rules.privateTournament.tournamentName'),
        tournametId: this.$t('rules.privateTournament.tournametId'),
        add: this.$t('rules.privateTournament.add'),
        recovery: this.$t('rules.privateTournament.recovery'),
        search: this.$t('rules.privateTournament.search'),
        icon: this.$t('rules.privateTournament.icon'),
        publicDelay: this.$t('rules.privateTournament.publicDelay'),
        publicDataLevel: this.$t('rules.privateTournament.publicDataLevel'),
        privateDelay: this.$t('rules.privateTournament.privateDelay'),
        privateDelaySon: {
          public: this.$t('rules.privateTournament.privateDelaySon.public'),
          advantage: this.$t('rules.privateTournament.privateDelaySon.advantage'),
          private: this.$t('rules.privateTournament.privateDelaySon.private'),
          unlimited: this.$t('rules.privateTournament.privateDelaySon.unlimited'),
        },
        privateDataLevel: this.$t('rules.privateTournament.privateDataLevel'),
        privateDataLevelSon: {
          basic: this.$t('rules.privateTournament.privateDelaySon.privateDataLevelSon'),
          advanced: this.$t('rules.privateTournament.privateDelaySon.advanced'),
        },
        setingCreatedAt: this.$t('rules.privateTournament.setingCreatedAt'),
        setingModifieldAt: this.$t('rules.privateTournament.setingModifieldAt'),
        logs: this.$t('rules.privateTournament.logs'),
        operations: this.$t('rules.privateTournament.operations'),
        edit: this.$t('rules.privateTournament.edit'),
        delete: this.$t('rules.privateTournament.delete'),
        tournament: this.$t('rules.privateTournament.tournament'),
        isPrivate: this.$t('rules.privateTournament.isPrivate'),
        isPrivateSon: {
          true: this.$t('rules.privateTournament.isPrivateSon.true'),
          false: this.$t('rules.privateTournament.isPrivateSon.false'),
        },
        hasPrivateDelay: this.$t('rules.privateTournament.hasPrivateDelay'),
        privateDelaySecond: this.$t('rules.privateTournament.privateDelaySecond'),
      },
      planTitle: {
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
      },
      //通用
      message: {
        end: this.$t('message.end'),
        to: this.$t('message.to'),
        start: this.$t('message.start'),
        Operationsucceeded: this.$t('message.Operationsucceeded'),
        Operationfailed: this.$t('message.Operationfailed'),
        button: this.$t('message.button'),
        cancel: this.$t('message.cancel'),
        signOut: this.$t('message.signOut'),
        ok: this.$t('message.ok'),
      },
    }
  },
  mounted() {
    this.getMatchStatus()
    this.getGames()
    this.fetchData()
  },
  methods: {
    getHistory(id) {
      this.$router.push({ path: '/elementsdata/clientRules/comopnents/tmpLog', query: {id: id, user_id: this.$route.query.user_id, type: 2} })
    },
    getMatchStatus() {
      const params = {}
      matchStatus(params).then(res => {
        this.match_status_list = res.data
        var tmp = {c_name: 'All',id: 0, name: '全部'}
        this.match_status_list.unshift(tmp)
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted == '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted == '1') {
        return 'del_line'
      }
    },
    getGames() {
      const params = {}
      gameList(params).then(res => {
        this.allgames = res.data
        var tmp = {e_name: 'All',id: 0, name: '全部'}
        this.allgames.unshift(tmp)
      })
    },
    getReset(row) {
      this.$confirm(this.privateTournament.recoveryMessage, '', {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.message.ok,
        cancelButtonText: this.message.cancel,
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = row.id
        params['deleted'] = 2
        tournament_deleted(params).then(req => {
          this.fetchData()
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.cancel
        })
      })
    },
    subDelete(row) {
      this.$confirm(this.privateTournament.deleteMessage, '', {
        lockScroll: false, //消除窗口抖动
        confirmButtonText: this.message.ok,
        cancelButtonText: this.message.cancel,
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = row.id
        params['deleted'] = 1
        tournament_deleted(params).then(res => {
          this.$message({
            type: 'success',
            message: this.message.Operationsucceeded
          })
          this.fetchData()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.message.cancel
        });
      });
    },
    subAdd() {
      this.$router.push({ path: '/elementsdata/clientRules/add', query: { user_id: this.$route.query.user_id, email: this.$route.query.email}})
    },
    subPrivateTournamentEdit(row) {
      this.$router.push({ path: '/elementsdata/clientRules/edit', query: { id: row.id, user_id: this.$route.query.user_id, email: this.$route.query.email} })
    },
    handleSizeChange(val) {
      this.req.per_page = val
      this.fetchData()
    },
    handleCurrentChange(val) {
      this.req.page = val
      this.fetchData()
    },
    fetchData() {
      this.listLoading = true
      const params = {}
      params['user_id'] = this.$route.query.user_id
      params['tid'] = this.req.tid
      params['game_id'] = this.req.game_id
      params['status'] = this.req.status
      params['name'] = this.req.name
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      if (this.req.timeBeginArea) {
        params['scheduled_begin_at_start'] = this.req.timeBeginArea[0]
        params['scheduled_begin_at_end'] = this.req.timeBeginArea[1]
      }
      if (this.req.timeEndArea) {
        params['scheduled_end_at_start'] = this.req.timeEndArea[0]
        params['scheduled_end_at_end'] = this.req.timeEndArea[1]
      }
      tournaments_list(params).then(res => {
        this.total = 1 * res.data.count
        this.list = res.data.list
      })
      setTimeout(() => {
        this.listLoading = false
      }, 500)
    }
  }
}
</script>

<style>
  .el-table .cell {

    white-space: pre-line;
  }
</style>
