<template>
  <div>
    <el-card  shadow="never" >
      <div v-if="!toChildrenData.historyId" slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.EditPlan}}</span>
      </div>
      <el-form label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.userId" prop="name">
              <el-input v-model="user_role_list.user_info.user_id" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.email" prop="name">
              <el-input v-model="user_role_list.user_info.email" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-form label-width="110px" :model="user_role_list.user_setmeal_info" :rules="rules" ref="user_role_list.user_setmeal_info">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.plan" prop="group_id">
              <el-select v-model="user_role_list.user_setmeal_info.group_id" placeholder="请选择" style="width: 100%;">
                <el-option
                  v-for="item in group_list"
                  :key="item.id"
                  :label="$i18n.locale == 'en'?item.group_e_name:item.group_name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.from" prop="opening_at">
              <el-date-picker
                v-model="user_role_list.user_setmeal_info.opening_at"
                type="date"
                value-format="yyyy-MM-dd"
                :placeholder="planTitle.StartDate"
                style="width:100%"
                :picker-options="pickerOptions"
                :clearable="false"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.to" prop="expiration_at">
              <el-date-picker
                v-model="user_role_list.user_setmeal_info.expiration_at"
                type="date"
                value-format="yyyy-MM-dd"
                :placeholder="planTitle.EndDate"
                style="width:100%"
                :picker-options="pickerOptions1"
                :clearable="false"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.endpoints" prop="is_interface">
              <el-select v-model="user_role_list.user_setmeal_info.is_interface" placeholder="请选择" style="width: 100%;">
                <el-option :label="planTitle.endpointsSon.default" :value="1"></el-option>
                <el-option :label="planTitle.endpointsSon.customize" :value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.requestLimit" prop="request_restriction">
              <el-select v-model="user_role_list.user_setmeal_info.request_restriction" placeholder="请选择" style="width: 100%;">
                <el-option
                  v-for="item in requestLimit_list"
                  :key="item.id"
                  :label="get_name(item)"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-loading="loading" style="z-index: 10" element-loading-spinner="true" element-loading-background="rgba(0, 0, 0, 0.1)">
          <div v-for="(item, index) in games_list" :key="index">
            <el-tag type="info">
              <el-checkbox style="font-weight: bold" :indeterminate="item.isIndeterminate" v-model="item.checkAll" @change="(val)=>subAllChange(val,item)">{{item.game_name}}</el-checkbox>
            </el-tag>
            <el-card  shadow="never">
              <el-checkbox-group v-model="item.data_pitch_on" @change="(value)=>subGameChange(value,item)">
                <div v-for="(info, index) in item.data_list" :key="index">
                  <el-col :span="8" :offset="0" >
                    <el-form-item>
                      <el-checkbox :label="info" :key="info" border style="width: 100%;overflow: hidden">{{info}}</el-checkbox>
                    </el-form-item>
                  </el-col>
                </div>
              </el-checkbox-group>
            </el-card>
          </div>
        </div>
        <div v-if="!toChildrenData.historyId" style="text-align: center">
          <el-button type="primary" @click="subUpdate('user_role_list.user_setmeal_info')">{{planTitle.Submit}}</el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
  import { groupCenter,requestList } from '@/api/elementsData/common'
  import { user_meal_detail,default_role, user_meal_edit } from '@/api/elementsData/clientRules'
export default {
  name: "gamesTmp",
  props: {
    toChildrenData: {
      type: Object,
      default() {
        return {
          historyId: '',
        }
      }
    }
  },
  data() {
    return {
      init_status: '',
      init_status1: '',
      // 设置只能选择当前日期及之后的日期
      pickerOptions: {
        disabledDate(time) {
          //如果没有后面的-8.64e7就是不可以选择今天的
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      pickerOptions1: {
        disabledDate(time) {
          //如果没有后面的-8.64e7就是不可以选择今天的
          if (false) {
            return time.getTime() < new Date('2021-6-1') - 8.64e7;
          } else {
            return time.getTime() < Date.now() - 8.64e7;
          }
        }
      },
      loading: false,
      user_role_list: {
        user_info: {},
        current_user_rule: {},
        user_setmeal_info: {},
        interface: [],
        renew_user_rule: {},
        renew_user_setmeal: {},
      },
      group_list: [],
      rules: {
        group_id: [
          { required: true, message: this.$t('message.Fieldrequired'), trigger: 'change' }
        ],
        expiration_at: [
          { required: true, message: this.$t('message.Fieldrequired'), trigger: 'change' }
        ],
        opening_at: [
          { required: true, message: this.$t('message.Fieldrequired'), trigger: 'change' }
        ],
        is_interface: [
          { required: true, message: this.$t('message.Fieldrequired'), trigger: 'change' }
        ],
        request_restriction: [
          { required: true, message: this.$t('message.Fieldrequired'), trigger: 'change' }
        ],
      },
      games_list: [
        // 数据结构模版
        // {
        //   game_name: 'Metadata_lol',
        //   data_list: ['List champions', 'Get a champion', 'List items', 'Get an item', 'List summoner spells', 'Get a summoner spell', 'List runes', 'Get a rune'],
        //   data_pitch_on: ['List champions'],
        //   checkAll: false,
        //   isIndeterminate: true,
        // }
      ],
      endpoints_list: [
        {value: '1', label: this.$t('rules.planTitle.endpointsSon.default')},
        {value: '2', label: this.$t('rules.planTitle.endpointsSon.customize')},
      ],
      requestLimit_list: [
        {value: '1', label: '0/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '2', label: '1000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '3', label: '3000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '4', label: '5000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '5', label: '10000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '6', label: '20000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '7', label: '30000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
      ],
      form: {},
      // 套餐
      planTitle: {
        StartDate: this.$t('rules.planTitle.StartDate'),
        EndDate: this.$t('rules.planTitle.EndDate'),
        updateMessage: this.$t('rules.planTitle.updateMessage'),
        Submit: this.$t('rules.planTitle.Submit'),
        EditPlan: this.$t('rules.planTitle.EditPlan'),
        plan: this.$t('rules.planTitle.plan'),
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        currentPlan: this.$t('rules.planTitle.currentPlan'),
        currentPlanSon: {
          unsupported: this.$t('rules.planTitle.currentPlanSon.unsupported'),
          free: this.$t('rules.planTitle.currentPlanSon.free'),
          basic: this.$t('rules.planTitle.currentPlanSon.basic'),
          basicPlus: this.$t('rules.planTitle.currentPlanSon.basicPlus'),
          professional: this.$t('rules.planTitle.currentPlanSon.professional'),
          professionalPlus: this.$t('rules.planTitle.currentPlanSon.professionalPlus'),
          primaryPlus: this.$t('rules.planTitle.currentPlanSon.primaryPlus'),
        },
        from: this.$t('rules.planTitle.from'),
        to: this.$t('rules.planTitle.to'),
        endpoints: this.$t('rules.planTitle.endpoints'),
        endpointsSon: {
          default: this.$t('rules.planTitle.endpointsSon.default'),
          customize: this.$t('rules.planTitle.endpointsSon.customize'),
        },
        requestLimit: this.$t('rules.planTitle.requestLimit'),
        requestLimitSon: {
          hour: this.$t('rules.planTitle.requestLimitSon.hour'),
          unlimited: this.$t('rules.planTitle.requestLimitSon.unlimited'),
        },
        update: this.$t('rules.planTitle.update'),
        renewPlan: this.$t('rules.planTitle.renewPlan'),
      },
      //通用
      message: {
        Operationcanceled: this.$t('message.Operationcanceled'),
        Fieldrequired: this.$t('message.Fieldrequired'),
        end: this.$t('message.end'),
        to: this.$t('message.to'),
        start: this.$t('message.start'),
        Operationsucceeded: this.$t('message.Operationsucceeded'),
        Operationfailed: this.$t('message.Operationfailed'),
        button: this.$t('message.button'),
        cancel: this.$t('message.cancel'),
        signOut: this.$t('message.signOut'),
        ok: this.$t('message.ok'),
      },
    }
  },
  watch: {
    'user_role_list.user_setmeal_info.group_id': {
      handler() {
        if (this.user_role_list.user_setmeal_info.group_id) {
          if (this.init_status) {
            this.init_status = ''
          }else {
            this.get_default_role()
          }
        }
      },
      immediate: true
    },
    'user_role_list.user_setmeal_info.is_interface': {
      handler() {
        if (this.user_role_list.user_setmeal_info.is_interface == 1 ) {
          this.loading = true
          if (this.init_status1) {
            this.init_status1 = ''
          }else {
            this.get_default_role()
          }
        } else {
          if (this.init_status1) {
            this.init_status1 = ''
          }
          this.loading = false
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.get_groupCenter()
    this.get_user_role()
  },
  methods: {
    get_default_role() {
      const params = {}
      params['group_id'] = this.user_role_list.user_setmeal_info.group_id
      default_role(params).then(res => {
        this.games_list = []
        this.get_change(Object.values(res.data))
        this.user_role_list.user_setmeal_info.is_interface = 1
      })
    },
    get_name(item) {
      if (this.$i18n.locale == 'en') {
        if (item.request_num == -1) {
         return  item.hour
        } else {
         return  item.request_num + item.hour
        }
      }else {
        if (item.request_num == -1) {
          return  item.hour_cn
        } else {
          return  item.request_num + item.hour_cn
        }
      }
    },
    get_user_role() {
      const params = {}
      if (this.toChildrenData.historyId) {
        params['id'] = this.toChildrenData.historyId
      }else {
        params['id'] = this.$route.query.id
      }
      user_meal_detail(params).then(res => {
        this.init_status = 1
        this.init_status1 = 1
        this.user_role_list = res.data
        if (!this.user_role_list.user_rule_list) {
          this.user_role_list.user_rule_list = {
            group_id: 7,
            opening_at: '',
            expiration_at: '',
            is_interface: 1,
            request_restriction: '',
          }
        }
       this.get_change(Object.values(res.data.user_rule_list))
      })
    },
    get_change(games) {
      // 权限数据格式转换
      games.forEach(item => {
        var tmp = {
          game_name: '',
          data_list: [],
          data_pitch_on: [],
          checkAll: false,
          isIndeterminate: true,
        }
        tmp.game_name = item.r_name
        if (item.subset) {
          Object.values(item.subset).forEach(info => {
            tmp.data_list.push(info.r_name)
            if (info.is_tower == 1) {
              tmp.data_pitch_on.push(info.r_name)
            }
          })
        }
        var k = tmp.data_pitch_on.length
        var n = tmp.data_list.length
        if (0 <= k < n) {
          tmp.checkAll = false
          tmp.isIndeterminate = true
        }
        if ( k == 0) {
          tmp.checkAll = false
          tmp.isIndeterminate = false
        }
        if (k==n && n !=0) {
          tmp.checkAll = true
          tmp.isIndeterminate = false
        }
        console.log(tmp)
        this.games_list.push(tmp)
      })
    },
    get_groupCenter() {
      const params = {}
      groupCenter(params).then(res => {
        this.group_list = res.data
      })
      requestList(params).then(res => {
        this.requestLimit_list = res.data
      })
    },
    subUpdate(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$confirm(this.planTitle.updateMessage, '', {
            lockScroll: false, //消除窗口抖动
            confirmButtonText: this.message.ok,
            cancelButtonText: this.message.cancel,
            type: 'warning'
          }).then(() => {
            const params = {}
            params['id'] = this.$shaoxia.safeProps(()=>this.$route.query.id, '')
            params['user_id'] = this.user_role_list.user_info.user_id
            params['group_id'] = this.user_role_list.user_setmeal_info.group_id
            // params['is_stale'] = 1
            params['opening_at'] = this.user_role_list.user_setmeal_info.opening_at
            params['expiration_at'] = this.user_role_list.user_setmeal_info.expiration_at
            params['request_restriction'] = this.user_role_list.user_setmeal_info.request_restriction
            params['is_interface'] = this.user_role_list.user_setmeal_info.is_interface
            var arr = []
            this.games_list.forEach(item => {
              if (item.data_pitch_on) {
                item.data_pitch_on.forEach(game => {
                  var datas = Object.values(this.user_role_list.user_rule_list)
                  datas.forEach(info => {
                    var a = Object.values(info.subset)
                    a.forEach(k => {
                      if (k.r_name == game) {
                        arr.push(k.id)
                      }
                    })
                  })
                })
              }
            })
            params['user_rights'] = JSON.stringify(arr)
            user_meal_edit(params).then(res => {
              this.$message({
                type: 'success',
                message: this.message.Operationsucceeded
              })
              this.$router.push({ path: '/elementsdata/clientRules/detail', query: {user_id: this.user_role_list.user_info.user_id,email: this.user_role_list.user_info.email} })
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: this.message.Operationcanceled
            })
          })
        } else {
          return false;
        }
      })
    },
    handleCheckAllChange(val) {
      console.log('val', val)
      this.checkedGames = val ? this.games : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      console.log('value', value)
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.games.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.games.length;
    },
    subAllChange(val, item) {
      console.log('all',val, item)
      item.data_pitch_on = val ? item.data_list : [];
      item.isIndeterminate = false;
    },
    subGameChange(value, item) {
      console.log('all111',value, item)

      let checkedCount = value.length;
      item.checkAll = checkedCount === item.data_list.length;
      item.isIndeterminate = checkedCount > 0 && checkedCount < item.data_list.length;
    }
  }
}
</script>

<style scoped>

</style>
