<template>
  <div>
    <el-card  shadow="never" >
      <div slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.planHistory}}</span>
      </div>
      <el-form label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.userId" prop="name">
              <el-input v-model="$route.query.user_id" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.email" prop="name">
              <el-input v-model="$route.query.email" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        ref="tableSort"
        :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',}"
        :cell-style="{textAlign:'center', padding:'3px'}"
        :data="tableData"
      >
        <el-table-column :label="titleName.plan" prop="group_name" >
          <template slot-scope="scope">
            <div v-if="$i18n.locale == 'zh'">{{scope.row.group_name}}</div>
            <div v-if="$i18n.locale == 'en'">{{scope.row.group_e_name}}</div>
          </template>
        </el-table-column>
        <el-table-column :label="planTitle.from" prop="opening_at" >
        </el-table-column>
        <el-table-column :label="planTitle.to" prop="expiration_at" >
        </el-table-column>
        <el-table-column :label="planTitle.endpoints" prop="user_id" >
          <template slot-scope="scope">
            <div v-if="$i18n.locale == 'zh'">{{scope.row.interface_name_cn}}</div>
            <div v-if="$i18n.locale == 'en'">{{scope.row.interface_name}}</div>
          </template>
        </el-table-column>
        <el-table-column :label="planTitle.requestLimit" prop="user_id" >
          <template slot-scope="scope">
            <div v-if="$i18n.locale == 'zh'">{{(scope.row.request_num =='-1'? '':scope.row.request_num) + scope.row.hour_cn}}</div>
            <div v-if="$i18n.locale == 'en'">{{(scope.row.request_num =='-1'? '':scope.row.request_num) + scope.row.hour}}</div>
          </template>
        </el-table-column>
        <el-table-column :label="titleName.operations" prop="user_id" >
          <template slot-scope="scope">
            <el-button type="primary" @click="subDet(scope.row.id)">{{planTitle.Detail}}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-dialog :title="planTitle.planHistory" width="80%" :visible.sync="dialogHistory">
      <div v-loading="loading" element-loading-spinner="true" element-loading-background="rgba(0, 0, 0, 0.1)">
        <currentPlanTmp v-if="dialogHistory" :toChildrenData="toChildrenData"/>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { user_meal_history } from '@/api/elementsData/clientRules'
  import currentPlanTmp from "./currentPlanTmp";
  export default {
    name: "planHistory",
    components: {
      currentPlanTmp
    },
  data() {
      return {
        loading: true,
        toChildrenData: {
          historyId: '',
        },
        dialogHistory: false,
        tableData: [],
        titleName: {
          plan: this.$t('rules.index.plan'),
          operations: this.$t('rules.index.operations'),
        },
          planTitle: {
          Detail: this.$t('rules.planTitle.Detail'),
          userId: this.$t('rules.planTitle.userId'),
          email: this.$t('rules.planTitle.email'),
          planHistory: this.$t('rules.planTitle.planHistory'),
          plan: this.$t('rules.planTitle.plan'),
          currentPlan: this.$t('rules.planTitle.currentPlan'),
          currentPlanSon: {
            unsupported: this.$t('rules.planTitle.currentPlanSon.unsupported'),
            free: this.$t('rules.planTitle.currentPlanSon.free'),
            basic: this.$t('rules.planTitle.currentPlanSon.basic'),
            basicPlus: this.$t('rules.planTitle.currentPlanSon.basicPlus'),
            professional: this.$t('rules.planTitle.currentPlanSon.professional'),
            professionalPlus: this.$t('rules.planTitle.currentPlanSon.professionalPlus'),
            primaryPlus: this.$t('rules.planTitle.currentPlanSon.primaryPlus'),
          },
          from: this.$t('rules.planTitle.from'),
          to: this.$t('rules.planTitle.to'),
          endpoints: this.$t('rules.planTitle.endpoints'),
          endpointsSon: {
            default: this.$t('rules.planTitle.endpointsSon.default'),
            customize: this.$t('rules.planTitle.endpointsSon.customize'),
          },
          requestLimit: this.$t('rules.planTitle.requestLimit'),
          requestLimitSon: {
            hour: this.$t('rules.planTitle.requestLimitSon.hour'),
            unlimited: this.$t('rules.planTitle.requestLimitSon.unlimited'),
          },
          update: this.$t('rules.planTitle.update'),
          renewPlan: this.$t('rules.planTitle.renewPlan'),
        }
      }
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    subDet(id) {
      this.toChildrenData.historyId = id
      this.dialogHistory = true
      // this.$router.push({ path: '/elementsdata/roles/currentPlanTmp', query: {id: id} })
    },
      getInfo() {
        const params = {}
        params['user_id'] = this.$route.query.user_id
        user_meal_history(params).then(res => {
          this.tableData = res.data
          // this.dialogHistory = true
          // this.historyList.forEach(item => {
          //   item.user_rule = this.get_change(Object.values(item.user_rule))
          // })
        })
      }
  }
}
</script>

<style scoped>

</style>
